/*
 * HTML y Body
 */
html, body {
    line-height: 1;
    min-height: 100%;
    position: relative;
}
body{
	  background-color: #000;
    background-repeat: no-repeat;
    color: #fff;
    margin: 0;
    min-height: 100% !important;
    padding: 0;
}
/*
 * Seccion de Logo 
 */

.logo{
	background: none repeat scroll 0 0 transparent;
    height: 100px;
    left: 50%;
    margin: 0 auto;
    position: fixed;
    top: 5px;
    width: 300px;
    z-index: 10;
}
.logo-container{
	background-image: url("images/logo-por-mis-bigotes.png");
    display: block;
    height: 100%;
    left: -150px;
    position: relative;
    width: 100%;
}
.logo span{
	color: #fff;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	width: 100%;
	display: inline-block;
}

/*
 * Boton Menu
 */
.botonMenu{
	width:100px;
	height: 40px;
	background: red;
	color: #fff;
	border-radius: 10px;
	text-align: center;
	line-height: 42px;
	z-index: 99;
	position: fixed;
	top:15px;
	left:50px;
  cursor: pointer;
}

.menu{
	width:200px;
	height: 100%;
	position: fixed;
	background: #000;
	opacity: 0.8;
	top:0;
	display:block;
  z-index: 9;
}
.menu.hide{
	display:none;
}
.menu-container{
	margin: 100px 15px 0;
	color: #fff;
}
.menu-container ul .enlace.trailer{
	padding: 50px 0;
}
.menu-container ul .enlace{
	padding: 10px 0;
}
.menu-container ul .enlace a{
	color: #fff;
	cursor: pointer;
	text-decoration: none;
}
.menu-container ul .enlace a:hover, .menu-container ul .enlace a:active, .menu-container ul .enlace a:focus{
	color: #fff;
}
/*
 * Toolbar
 */

.toolbar{
	width: 250px;
	height: 50px;
	position: fixed;
	right: 10px;
	top: 20px;
}

.toolbar-container{
	width: 100%;
	height: 100%;
}

.toolbar-container .globo{
	float: left;
	margin-right: 10px;
	width: 50px;
	height: 50px;
	color:#fff;
}

.globo.facebookL{
	background-image: url("images/sprites/icons-btns.png");
    background-position: 300px 0;
    color: #fff;
    display: block;
    height: 44px;
    width: 42px;
}
.globo.twitterL{
	background-image: url("images/sprites/icons-btns.png");
    background-position: 228px 0;
    color: #fff;
    display: block;
    height: 44px;
    width: 42px;
}
.globo.instagramL{
	background-image: url("images/sprites/icons-btns.png");
    background-position: 158px 0;
    color: #fff;
    display: block;
    height: 44px;
    width: 42px;
}
.globo.youtubeL{
	background-image: url("images/sprites/icons-btns.png");
    background-position: 87px 0;
    color: #fff;
    display: block;
    height: 44px;
    width: 42px;
}
/*
 * Omitir boton
 */

.omitir{
	width: 200px;
	height: 20px;
	position: fixed;
	right: 20px;
	bottom: 5px;
}
.omitir-container{
	width: 100%;
	height: 100%;
}
.omitir-container a{
	color:#fff;
	font-size: 18px;
	text-decoration: none;
}
.omitir-container a:hover, .omitir-container a:focus, .omitir-container a:active{
	color:#fff;
}

/*
 * Seccion de Trailer y Explorar
 */
.containerDefault{
	width: 100%;
	height: 100%;
	display: block;
	background: #333;
	position:fixed;
}
.container{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url('images/bg/verde.jpg');
	position:fixed;
}
.containerDefault .trailer{
	width: 50%;
	height:100%;
	float: left;
	background:#000;
  opacity:0.3;
}
.containerDefault .trailer:hover{
	background-image: url('images/gif/gif.gif');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
  opacity:1;
}
.containerDefault .trailer a{
	display: block;
	width: 100%;
	height: 100%;
	background: transparent;
	cursor: pointer;
}
.containerDefault .trailer-container{
	top:50%;
	width: 100px;
	height: 50px;
	left:50%;
	position:relative;
}
.containerDefault .trailer a .buttonTrailer{
  width: 330px;
  height: 140px;
  display: block;
  background-image: url('images/sprites/big-btns.png');
  background-position: 0 0;
  position:relative;
  top: -70px;
  left: -165px;
}

.containerDefault .explorar{
	background-image: url("images/bg/verde.jpg");
    background-position: center center;
    background-repeat: repeat;
    float: left;
    height: 100%;
    width: 50%;
    opacity:0.3;
    cursor:pointer;
}
.containerDefault .explorar:hover{
	opacity: 1;
}
.containerDefault .explorar-container{
	top:50%;
	width: 100px;
	height: 50px;
	left:50%;
	position:relative;
}
.containerDefault .explorar .buttonExplorar{
  background-image: url("images/sprites/big-btns.png");
    background-position: 0 -165px;
    display: block;
    height: 140px;
    left: -165px;
    position: relative;
    top: -70px;
    width: 330px;
}

/*
 * Seccion de Youtube
 */
.youtube{
	width: 100%;
	height: 100%;
	display: none;
	background: #333;
	position:fixed;
	z-index: 9999;
	top:0;
} 

.close-container{
	width: 100%;
	height: 10%;
	text-align: center;
	text-transform: uppercase;
}

.close-container a {
    color: #fff;
    display: block;
    line-height: 50px;
    margin: auto;
    cursor:pointer;
}

/*
 * Seccion formulario pagina encuesta.html 
 */

.formulario{
	width: 400px;
	margin: 150px auto 0;
	color: #fff;
} 

.formulario table{
	border-collapse: separate;
    border-spacing: 5px 20px;
}
.titulo {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}
.preguntas{
	font-size: 18px;
    text-align: left;
}
.alinearCentro{
	text-align: center;
}

.grupoUno, .grupoDos, .grupoTres{
	background: none repeat scroll 0 0 #fff;
    border: 1px solid #000;
    color: green;
    height: 30px;
    width: 110px;
}

.grupoUno.selected, .grupoDos.selected, .grupoTres.selected{
	background: none repeat scroll 0 0 green;
    color: #fff;
}
.botonEntrar{
	background: none repeat scroll 0 0 red;
    border: 0 none;
    border-radius: 10px;
    color: #fff;
    height: 40px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    width: 100px;
}
/*
 * Seccion principal de la pagina
 */

section {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.seccionBienvenida {
    background-image: url("images/bg/seccionUno.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    max-height: 800px;
    min-height: 350px;
    height:650px;
    width: 100%;
}
  .seccionNoticias{
 	  background-image: url("images/bg/seccionDos.jpg");
    background-position: center center;
    background-repeat: repeat;
    background-size: 100% auto;
    max-height: 800px;
    min-height: 350px;
    height:650px;
    width: 100%;
 }
 .noticias-container{
    margin: auto;
    padding: 35px 0 0;
    text-align: center;
    width: 900px;
 } 
 .noticias-container table{
    width: 100%;
    text-align: center;
 }  
  .seccionSinopsis{
 	  background-image: url("images/bg/seccionTres.jpg");
    background-position: center center;
    background-repeat: repeat;
    background-size: 100% auto;
    max-height: 800px;
    min-height: 350px;
    height:650px;
    width: 100%;
 } 
 .sinopsis-container{
    margin: auto;
    padding: 35px 0 0;
    text-align: center;
    width: 900px;
 }
  .sinopsis-container .title{
    font-size: 35px;
  }
  .sinopsis-container p{
    font-size: 25px;
  }
  .seccionGaleriaEstaticaParteUno{
 	background-image: url("images/bg/seccionCuatro.jpg");
    background-position: center center;
    background-repeat: repeat;
    background-size: 100% auto;
    max-height: 800px;
    min-height: 350px;
    height:650px;
    width: 100%;
 } 
  .seccionConocelos{
  background-image: url("images/bg/verde.jpg");
    background-position: center center;
    background-repeat: repeat;
    background-size: auto;
    max-height: 800px;
    min-height: 350px;
    height:650px;
    width: 100%;
 }  
  .seccionConocelosMore{
 	width:100%;
 	height:650px;
 	background: #555;
 	display:none;
 }  
  .seccionGaleriaEstaticaParteDos{
 	background-image: url("images/bg/seccionSeis.jpg");
    background-position: center center;
    background-repeat: repeat;
    background-size: 100% auto;
    max-height: 800px;
    min-height: 350px;
    height:650px;
    width: 100%;
 } 
  .seccionGaleriaEstaticaParteTres{
 	background-image: url("images/bg/seccionSiete.jpg");
    background-position: center center;
    background-repeat: repeat;
    background-size: 100% auto;
    max-height: 800px;
    min-height: 350px;
    height:650px;
    width: 100%;
 } 
  .seccionGaleria{
 	background-image: url("images/bg/seccionOcho.jpg");
    background-position: center center;
    background-repeat: repeat;
    background-size: 100% auto;
    max-height: 800px;
    min-height: 350px;
    height:650px;
    width: 100%;
 } 
  .seccionDetras{
 	background-image: url("images/bg/seccionOnce.jpg");
    background-position: center center;
    background-repeat: repeat;
    background-size: 100% auto;
    max-height: 800px;
    min-height: 350px;
    height:650px;
    width: 100%;
 } 
  .seccionDetrasMore{
 	  background-image: url("images/bg/seccionOnce.jpg");
    background-position: center center;
    background-repeat: repeat;
    background-size: 100% auto;
    max-height: 800px;
    min-height: 350px;
    height:650px;
    width: 100%;
    display:none;
 } 
  .seccionPremios{
 	  background-image: url("images/bg/seccionDoce.jpg");
    background-position: center center;
    background-repeat: repeat;
    background-size: 100% auto;
    max-height: 800px;
    min-height: 350px;
    height:650px;
    width: 100%;
 }
  .premios-container{
    margin: auto;
    padding: 35px 0 0;
    text-align: center;
    width: 900px;
 }
 .premios-container .campana{
  background-image: url("images/sprites/big-btns.png");
    background-position: -89px -500px;
    display: block;
    height: 165px;
    width: 150px;
 }
  .premios-container table{
  width: 100%;
 }
  .premios-container table td{
  vertical-align: middle;
 }
  .seccionCreditos{
 	  background-image: url("images/bg/seccionTrece.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    max-height: 800px;
    min-height: 350px;
    height:650px;
    width: 100%;
 } 
 .creditos-container{
    margin: auto;
    padding: 35px 0 0;
    text-align: center;
    width: 900px;
 }
 .creditos-container table{
  width: 100%;
  text-align: center;
  font-size: 15px;
 }
  .creditos-container table p{
  line-height: 25px;
 }
  .patrocinadores{
 	  background-image: url("images/bg/footer.jpg");
    background-position: center center;
    background-repeat: repeat;
    background-size: auto;
    max-height: 150px;
    min-height: 150px;
    height:150px;
    width: 100%;
 } 
 .patrocinadores-container{
    margin: auto;
    padding: 35px 0 0;
    text-align: center;
    width: 900px;
 }
 .patrocinador{
  float:left;
  margin:0 15px;
 }
  .patrocinador.uno{
    background-image: url("images/bg/patrocinadores.png");
    background-position: 0 -32px;
    background-repeat: no-repeat;
    height: 40px;
    width: 110px;
 }
  .patrocinador.dos{
    background-image: url("images/bg/patrocinadores.png");
    background-position: -185px -32px;
    background-repeat: no-repeat;
    height: 40px;
    width: 130px;
 }
  .patrocinador.tres{
    background-image: url("images/bg/patrocinadores.png");
    background-position: -365px -32px;
    background-repeat: no-repeat;
    height: 40px;
    width: 160px;
 }
  .patrocinador.cuatro{
    background-image: url("images/bg/patrocinadores.png");
    background-position: -604px -26px;
    background-repeat: no-repeat;
    height: 50px;
    width: 80px;
 }
  .patrocinador.cinco{
    background-image: url("images/bg/patrocinadores.png");
    background-position: -794px -23px;
    background-repeat: no-repeat;
    height: 55px;
    width: 90px;
 }
  .patrocinador.seis{
    background-image: url("images/bg/patrocinadores.png");
    background-position: -955px -6px;
    background-repeat: no-repeat;
    height: 85px;
    width: 148px;
 }


 /*
  * Fuentes para el sitio web
  */


@font-face {
    font-family: 'bigotesbold';
    src: url('font/webfont/Bigotes-Bold-webfont.eot');
    src: url('font/webfont/Bigotes-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/webfont/Bigotes-Bold-webfont.woff2') format('woff2'),
         url('font/webfont/Bigotes-Bold-webfont.woff') format('woff'),
         url('font/webfont/Bigotes-Bold-webfont.ttf') format('truetype'),
         url('font/webfont/Bigotes-Bold-webfont.svg#bigotesbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bigotesdemibold';
    src: url('font/webfont/Bigotes-DemiBold-webfont.eot');
    src: url('font/webfont/Bigotes-DemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/webfont/Bigotes-DemiBold-webfont.woff2') format('woff2'),
         url('font/webfont/Bigotes-DemiBold-webfont.woff') format('woff'),
         url('font/webfont/Bigotes-DemiBold-webfont.ttf') format('truetype'),
         url('font/webfont/Bigotes-DemiBold-webfont.svg#bigotesdemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bigotesheavy';
    src: url('font/webfont/Bigotes-Heavy-webfont.eot');
    src: url('font/webfont/Bigotes-Heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/webfont/Bigotes-Heavy-webfont.woff2') format('woff2'),
         url('font/webfont/Bigotes-Heavy-webfont.woff') format('woff'),
         url('font/webfont/Bigotes-Heavy-webfont.ttf') format('truetype'),
         url('font/webfont/Bigotes-Heavy-webfont.svg#bigotesheavy') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bigotesmedium';
    src: url('font/webfont/Bigotes-Medium-webfont.eot');
    src: url('font/webfont/Bigotes-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/webfont/Bigotes-Medium-webfont.woff2') format('woff2'),
         url('font/webfont/Bigotes-Medium-webfont.woff') format('woff'),
         url('font/webfont/Bigotes-Medium-webfont.ttf') format('truetype'),
         url('font/webfont/Bigotes-Medium-webfont.svg#bigotesmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bigotes_corsivaitalic';
    src: url('font/webfont-curs/BigotesCorsiva-Italic-webfont.eot');
    src: url('font/webfont-curs/BigotesCorsiva-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/webfont-curs/BigotesCorsiva-Italic-webfont.woff2') format('woff2'),
         url('font/webfont-curs/BigotesCorsiva-Italic-webfont.woff') format('woff'),
         url('font/webfont-curs/BigotesCorsiva-Italic-webfont.ttf') format('truetype'),
         url('font/webfont-curs/BigotesCorsiva-Italic-webfont.svg#bigotes_corsivaitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}