/*
 * Seccion de Logo 
 */

.logo{
	background: none repeat scroll 0 0 transparent;
    height: 50px;
    left: 50%;
    margin: 0 auto;
    position: absolute;
    top: 5px;
    width: 200px;
    z-index: 10;
}
.logo-container{
	background: none repeat scroll 0 0 #444;
	width:100%;
	position: relative;
	left:-100px;
}
.logo span{
	color: #fff;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	width: 100%;
	display: inline-block;
}

/*
 * Toolbar
 */

.toolbar{
	width: 250px;
	height: 50px;
	position: fixed;
	right: 10px;
	top: 20px;
}

.toolbar-container{
	width: 100%;
	height: 100%;
}

.toolbar-container .globo{
	float: left;
	margin-right: 10px;
	width: 50px;
	height: 50px;
	color:#fff;
}

/*
 * Omitir boton
 */

.omitir{
	width: 200px;
	height: 20px;
	position: fixed;
	right: 20px;
	bottom: 5px;
}
.omitir-container{
	width: 100%;
	height: 100%;
}
.omitir-container a{
	color:#fff;
	font-size: 18px;
	text-decoration: none;
}
.omitir-container a:hover, .omitir-container a:focus, .omitir-container a:active{
	color:#fff;
}

/*
 * Seccion de Trailer y Explorar
 */

.container{
	width: 100%;
	height: 100%;
	display: block;
	background: #333;
	position:fixed;
}
.container .trailer{
	width: 50%;
	height:100%;
	float: left;
	background:#444;
}
.container .trailer a{
	display: block;
	width: 100%;
	height: 100%;
	background: transparent;
	cursor: pointer;
}
.container .trailer a:hover{
	background: #e3e3e3;
}
.container .trailer-container{
	top:50%;
	width: 100px;
	height: 50px;
	left:50%;
	position:relative;
}
.container .trailer a span {
    color: #fff;
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 100px;
    top: -25px;
    left: -50px;
    position:relative;
}


.container .explorar{
	width: 50%;
	height:100%;
	float: left;
	background:#111;
}
.container .explorar a{
	display: inline-block;
	width: 100%;
	height: 100%;
	background: transparent;
	cursor:pointer;
	text-decoration: none;
}
.container .explorar a:hover{
	background: #e3e3e3;
	text-decoration: none;
}
.container .explorar a:hover, .container .explorar a:focus, .container .explorar a:active{
	color:#fff;
}
.container .explorar-container{
	top:50%;
	width: 100px;
	height: 50px;
	left:50%;
	position:relative;
}
.container .explorar a span {
    color: #fff;
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    width: 100px;
    top: -25px;
    left: -50px;
    position:relative;
}

/*
 * Seccion de Youtube
 */
.youtube{
	width: 100%;
	height: 100%;
	display: none;
	background: #333;
	position:fixed;
} 

.close-container{
	width: 100%;
	height: 10%;
	text-align: center;
	text-transform: uppercase;
}

.close-container a {
    color: #fff;
    display: block;
    line-height: 50px;
    margin: auto;
    cursor:pointer;
}

/*
 * Seccion formulario pagina encuesta.html 
 */

.formulario{
	width: 400px;
	margin: 80px auto 0;
	color: #fff;
} 

.formulario table{
	border-collapse: separate;
    border-spacing: 5px 20px;
}
.titulo {
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}
.preguntas{
	font-size: 18px;
    text-align: left;
}
.alinearCentro{
	text-align: center;
}