/*
 * HTML y Body
 */
html, body {
  line-height: 1;
  height: 100%;
  position: relative;
}

body {
  background-repeat: no-repeat;
  color: #fff;
  margin: 0;
  padding: 0;
  font-family: 'bigotesmedium';
}

.container-fluid.fullscreen {
  display: none;
}
.container-fluid.fullscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
  }
.separador {
  width: 100%;
  height: 130px;
}
/*
 * Seccion de Logo 
 */

.logo {
  background: none repeat scroll 0 0 transparent;
  height: 100px;
  left: 50%;
  margin: 0 auto;
  position: fixed;
  top: 5px;
  width: 300px;
  z-index: 10;
}

.logo-container {
  left: -150px;
  position: relative;
}

.logo span {
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  width: 100%;
  display: inline-block;
}

/*
 * Boton Menu
 */
.botonMenu {
  background: none repeat scroll 0 0 red;
  border: 0 none;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  height: 30px;
  text-align: center;
  text-transform: uppercase;
  width: 85px;
  line-height: 32px;
  z-index: 99;
  position: fixed;
  top: 30px;
  left: 50px;
  cursor: pointer;
}

.menu {
  width: 200px;
  height: 100%;
  position: fixed;
  background: #000;
  opacity: 0.8;
  top: 0;
  display: block;
  z-index: 9;
}

.menu.hide {
  display: none;
}

.menu-container {
  margin: 100px 15px 0;
  color: #fff;
}

.menu-container ul .enlace.trailer {
  padding: 60px 0;
  list-style: outside none none;
}

.menu-container ul .enlace {
  padding: 12px 0;
  list-style: outside none none;
}

.menu-container ul .enlace a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px -1px #000;
}

.menu-container ul .enlace a:hover, .menu-container ul .enlace a:active, .menu-container ul .enlace a:focus {
  color: #fff;
}
/*
 * Toolbar
 */

.toolbar {
  position: fixed;
  top: 0;
  right: 0;
}

.toolbar-container {
  width: 100%;
  height: 100%;
}

.toolbar-container .globo {
  float: left;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  color: #fff;
}

.globo.facebookL {
  background-image: url("images/sprites/icons-btns.png");
  background-position: 300px 0;
  color: #fff;
  display: block;
  height: 44px;
  width: 42px;
}

.globo.twitterL {
  background-image: url("images/sprites/icons-btns.png");
  background-position: 228px 0;
  color: #fff;
  display: block;
  height: 44px;
  width: 42px;
}

.globo.instagramL {
  background-image: url("images/sprites/icons-btns.png");
  background-position: 158px 0;
  color: #fff;
  display: block;
  height: 44px;
  width: 42px;
}

.globo.youtubeL {
  background-image: url("images/sprites/icons-btns.png");
  background-position: 87px 0;
  color: #fff;
  display: block;
  height: 44px;
  width: 42px;
}
/*
 * Omitir boton
 */

.omitir-container a {
  color: #fff;
  font-size: 14px;
  font-weight: lighter;
  text-decoration: none;
  text-shadow: 1px -1px #000;
}

.omitir-container a:hover, .omitir-container a:focus, .omitir-container a:active {
  color: #fff;
  text-decoration: none;
}

/*
 * Seccion de Trailer y Explorar
 */

.greenBg {
  background-image: url('images/bg/verde.jpg');
  background-repeat: repeat;
  background-position: center;
}

.containerDefault {
  width: 100%;
  height: 100%;
  display: block;
  background: #333;
  position: fixed;
}

.containerDefault .trailer {
  width: 100%;
  height: 50%;
  background: #000;
  opacity: 0.5;
}

.containerDefault .trailer:hover {
  background-image: url('images/gif/gif.gif');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
}

.containerDefault .trailer > div {
  display: block;
  width: 100%;
  height: 100%;
  background: transparent;
  cursor: pointer;
}

.containerDefault .trailer-container {
  top: 50%;
  height: 50px;
  left: 50%;
  position: relative;
  width: 100%;
}

.containerDefault .trailer .buttonTrailer {
  position: relative;
  top: -70px;
  left: -165px;
}

.containerDefault .trailer .buttonTrailer img {
  margin: auto;
}

.containerDefault .explorar {
  background-image: url("images/bg/verde.jpg");
  background-position: center center;
  background-repeat: repeat;
  float: left;
  height: 50%;
  width: 100%;
  opacity: 0.3;
  cursor: pointer;
}

.containerDefault .explorar:hover {
  opacity: 1;
}

.containerDefault .explorar-container {
  top: 50%;
  height: 50px;
  left: 50%;
  position: relative;
  width: 100%;
}

.containerDefault .explorar .buttonExplorar {
  position: relative;
  top: -70px;
  left: -140px;
}

.containerDefault .explorar .buttonExplorar img {
  margin: auto;
}
/*
 * Seccion de Youtube
 */
.youtube {
  background: none repeat scroll 0 0 #000;
  height: 90%;
  top: 0;
  z-index: 9999;
}

.youtubeClose {
  height: 10%;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
}

.youtubeClose a {
  color: #fff;
  display: block;
  line-height: 50px;
  margin: auto;
  cursor: pointer;
  text-decoration: none;
}

.youtubeClose a:hover, .youtubeClose a:active, .youtubeClose a:focus {
  color: #fff;
  text-decoration: none;
}

/*
 * Seccion formulario pagina encuesta.html 
 */

#enviarFormulario table {
  border-collapse: separate;
  border-spacing: 20px 10px;
  width: 100%;
  color: #fff;
}

.titulo {
  display: block;
  font-family: "bigotesbold" !important;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  text-shadow: 1px -1px #000;
  text-transform: uppercase;
  width: 100%;
}

.preguntas {
  display: block;
  font-family: "bigotesdemibold";
  font-size: 22px;
  font-weight: lighter;
  text-align: center;
  text-shadow: 1px -1px #000;
  width: 100%;
}

.alinearCentro {
  text-align: center;
  width: 33.3333%;
}

.grupoUno, .grupoDos, .grupoTres {
  background: none repeat scroll 0 0 #fff;
  border: 1px solid #002601;
  border-radius: 5px;
  color: #002601;
  font-size: 16px;
  font-weight: lighter;
  height: 30px;
  width: 150px;
}

.smallerButton {
  width: 70px;
}

.grupoUno.selected, .grupoDos.selected, .grupoTres.selected {
  background: none repeat scroll 0 0 #09481c;
  color: #fff;
}

.botonEntrar {
  background: none repeat scroll 0 0 red;
  border: 0 none;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  height: 30px;
  text-align: center;
  text-transform: uppercase;
  width: 85px;
}
/*
 * Seccion principal de la pagina
 */

section {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.botonMas {
  background: none repeat scroll 0 0 red;
  border: 0 none;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  height: 30px;
  line-height: 32px;
  margin: 20px auto;
  text-align: center;
  text-transform: uppercase;
  width: 126px;
}
.botonMas:hover{
  cursor: pointer;
}
.botonVerNota {
  background: none repeat scroll 0 0 white;
  border: 1px solid #000048;
  border-radius: 5px;
  color: #000048;
  font-size: 14px;
  font-weight: lighter;
  height: 30px;
  margin: 20px auto 0;
  text-align: center;
  text-transform: uppercase;
  width: 126px;
}
.botonVerNota:hover{
  cursor:pointer;
}
.botonDescargarKit {
  background: none repeat scroll 0 0 transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: lighter;
  height: 30px;
  margin: 20px auto;
  text-align: center;
  text-transform: uppercase;
  width: 240px;
}
.botonDescargarKit:hover{
  cursor:pointer;
}
.seccionBienvenida {
  background-image: url("images/bg/seccionUno.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
}

.bienvenida-container {
  position: relative;
}

.bienvenida-container-inner {
  position: absolute!important;
}

.seccionBienvenida img {
  margin: auto;
}

.bienvenida-container-inner > h1 {
  font-size: 36px;
  font-weight: 900;
  margin-top: 150px;
  padding: 5px 0;
  text-align: center;
  text-shadow: 1px -1px #000;
}

.seccionNoticias {
  background-image: url("images/bg/seccionDos.jpg");
  background-position: center center;
  background-repeat: repeat;
  background-size: 100% auto;
  max-height: 800px;
  min-height: 350px;
  height: 650px;
  width: 100%;
}

.noticias-container {
  margin: auto;
  padding: 35px 0 0;
  text-align: center;
  width: 1000px;
}
.noticias-container .bgWhite{
  background:#fff;
}
.noticias-container> h1 {
  font-size: 40px;
  font-weight: 900;
  margin-top: 50px;
  padding: 5px 0;
  text-align: center;
  text-shadow: 1px -1px #000;
}

.noticias-container table {
  width: 100%;
  text-align: center;
}

.seccionSinopsis {
  background-image: url("images/bg/seccionTres.jpg");
  background-position: center center;
  background-repeat: repeat;
  background-size: 100% auto;
  width: 100%;
}

.sinopsis-container {
  margin: auto;
  padding: 20px 0 0;
  text-align: center;
}

.sinopsis-container> h1 {
  font-size: 40px;
  font-weight: 900;
  padding: 5px 0;
  text-align: center;
  text-shadow: 1px -1px #000;
}

.sinopsis-container p {
  font-size: 20px;
  font-weight: lighter;
  line-height: 40px;
  text-align: center;
  text-shadow: 1px -1px #000;
}

.sinopsis-container p b {
  font-size: 40px;
  font-weight: 900;
}

.seccionGaleriaEstaticaParteUno {
  background-image: url("images/bg/seccionCuatro.jpg");
  background-position: center center;
  background-repeat: repeat;
  background-size: 100% auto;
  width: 100%;
}

.seccionGaleriaEstaticaParteUno img {
  margin: auto;
}

.seccionConocelos {
  background-image: url("images/bg/verde.jpg");
  background-position: center center;
  background-repeat: repeat;
  background-size: auto;
  width: 100%;
}

.seccionConocelos> h1 {
  font-size: 40px;
  font-weight: 900;
  margin-top: 50px;
  padding: 5px 0;
  text-align: center;
  text-shadow: 1px -1px #000;
}

.sceneConocelos,
.sceneConocelos .layer {
  display: block;
  height: 100%;
  padding: 0;
  margin: 0;
}

.sceneConocelos {
  min-height: 460px;
  position: relative;
  overflow: hidden;
}

.sceneConocelos .layer {
  position: absolute;
}
.sceneConocelos .layer div {
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.layer .pEncabezado{
  display: none;
  margin: 5px 20px;
}
.layer .personaje{
  position: absolute;;
  z-index: 1;
}
.layer .personaje.sombra{
  position: absolute;;
  z-index: 2;
}

.seccionConocelosMore {
  background-image: url("images/bg/verde.jpg");
  background-position: center center;
  background-repeat: repeat;
  background-size: auto;
  width: 100%;
  display:none;
}

.seccionGaleriaEstaticaParteDos {
  background-image: url("images/bg/seccionSeis.jpg");
  background-position: center center;
  background-repeat: repeat;
  background-size: 100% auto;
  width: 100%;
}

.seccionGaleriaEstaticaParteDos img {
  margin: auto;
}

.seccionGaleriaEstaticaParteTres {
  background-image: url("images/bg/seccionSiete.jpg");
  background-position: center center;
  background-repeat: repeat;
  background-size: 100% auto;
  width: 100%;
}

.seccionGaleriaEstaticaParteTres img {
  margin: auto;
}

.seccionGaleria {
  background-image: url("images/bg/seccionOcho.jpg");
  background-position: center center;
  background-repeat: repeat;
  background-size: 100% auto;
  width: 100%;
}

.seccionGaleria img {
  margin: auto;
}

.galeria-container-inner {
  height: 139px;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 244px;
}

.galeria-container-inner .buttonGaleria {
  position: relative;
  top: -70px;
  left: -140px;
}
.galeria-container-inner .buttonGaleria:hover {
  cursor:pointer;
}

.galeria-container-inner .buttonGaleria img {
  margin: auto;
}

.seccionDetras {
  background-image: url("images/bg/seccionOnce.jpg");
  background-position: center center;
  background-repeat: repeat;
  background-size: 100% auto;
  width: 100%;
}

.seccionDetras> h1 {
  font-size: 40px;
  font-weight: 900;
  margin-top: 50px;
  padding: 5px 0;
  text-align: center;
  text-shadow: 1px -1px #000;
}

.seccionDetras .img100, .seccionDetrasMore .img100{
  width: 100%;
  margin: 5px 2px;
}
.seccionDetras .img90, .seccionDetrasMore .img90{
  width: 90%;
  margin: 5px 2px;
}
.seccionDetras .img80, .seccionDetrasMore .img80{
  width: 80%;
  margin: 5px 2px;
}
.seccionDetras .img70, .seccionDetrasMore .img70{
  width: 70%;
  margin: 5px 2px;
}
.seccionDetras .img60, .seccionDetrasMore .img60{
  width: 60%;
  margin: 5px 2px;
}
.seccionDetras .img50, .seccionDetrasMore .img50{
  width: 50%;
  margin: 5px 2px;
}
.seccionDetras .img40, .seccionDetrasMore .img40{
  width: 40%;
  margin: 5px 2px;
}
.seccionDetras .img30, .seccionDetrasMore .img30{
  width: 30%;
  margin: 5px 2px;
}
.seccionDetras .img20, .seccionDetrasMore .img20{
  width: 20%;
  margin: 5px 2px;
}

.imgGalDos{
  margin-top: 45px!important;
}
.imgGalTres{
  margin-top: 20px!important;
}

.imgGalCuatro{
  margin-left: auto !important;
  padding-bottom: 20px !important;
  padding-top: 20px !important;
}
.imgGalCinco{
  margin-left: auto !important;
  padding-bottom: 20px !important;
  padding-top: 20px !important;
}
.imgGalSeis{
  margin-left: auto !important;
  padding-bottom: 20px !important;
  padding-top: 20px !important;
}

.seccionDetrasMore {
  background-image: url("images/bg/seccionOnce.jpg");
  background-position: center center;
  background-repeat: repeat;
  background-size: 100% auto;
  width: 100%;
  display: none;
}

.seccionPremios {
  background-image: url("images/bg/seccionDoce.jpg");
  background-position: center center;
  background-repeat: repeat;
  background-size: 100% auto;
  width: 100%;
}

.premios-container {
  margin: auto;
  padding: 20px 0 0;
  text-align: center;
}

.premios-container .campana-container {
  display: none;
}

.premios-container .campana {
  background-image: url("images/sprites/big-btns.png");
  background-position: -89px -500px;
  display: block;
  height: 165px;
  width: 150px;
  margin: auto;
}

.premios-container table {
  width: 100%;
}

.premios-container table td {
  vertical-align: middle;
}

.premios-container h1 {
  font-size: 28px;
  font-weight: 900;
  margin-top: 20px;
  padding: 5px 0;
  text-align: center;
  text-shadow: 1px -1px #000;
}

.premios-container h2 {
  font-size: 32px;
  font-weight: lighter;
  margin-top: 10px;
  padding: 5px 0;
  text-align: center;
  text-shadow: 1px -1px #000;
}

.seccionCreditos {
  background-image: url("images/bg/seccionTrece.jpg");
  background-position: center center;
  background-repeat: repeat;
  background-size: auto 100%;
  width: 100%;
}

.seccionCreditos img {
  margin: auto;
}

.creditos-container {
  position: relative;
}

.creditos-container-inner::-webkit-scrollbar * {
  background: transparent;
}

.creditos-container-inner::-webkit-scrollbar-thumb {
  background: #999 !important;
}

.creditos-container-inner > table {
  border-collapse: separate;
  border-spacing: 5px 20px;
  text-align: center;
  margin-top: 20px;
}

.creditos-container-inner table {
  width: 100%;
}

.creditos-container-inner table p {
  font-size: 0.8em;
  font-weight: lighter;
  line-height: 25px;
  text-shadow: 1px -1px #000;
  margin: 0px;
}

.creditos-container-inner table p b {
  font-weight: 900;
  line-height: 25px;
  text-shadow: 1px -1px #000;
}

.patrocinadores {
  background-image: url("images/bg/footer.jpg");
  background-position: center center;
  background-repeat: repeat;
  background-size: auto auto;
  height: 115px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
}

.patrocinadores-container {
  margin: auto;
  width: 710px !important;
}

.patrocinadores-container .holder {
  height: 80px;
  text-align: center;
}

.patrocinadores-container img {
  float: left;
  margin: 10px 5px;
}

 /*
  * Fuentes para el sitio web
  */


@font-face {
  font-family: 'bigotesbold';
    src: url('font/webfont/Bigotes-Bold-webfont.eot');
    src: url('font/webfont/Bigotes-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/webfont/Bigotes-Bold-webfont.woff2') format('woff2'),
         url('font/webfont/Bigotes-Bold-webfont.woff') format('woff'),
         url('font/webfont/Bigotes-Bold-webfont.ttf') format('truetype'),
         url('font/webfont/Bigotes-Bold-webfont.svg#bigotesbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'bigotesdemibold';
    src: url('font/webfont/Bigotes-DemiBold-webfont.eot');
    src: url('font/webfont/Bigotes-DemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/webfont/Bigotes-DemiBold-webfont.woff2') format('woff2'),
         url('font/webfont/Bigotes-DemiBold-webfont.woff') format('woff'),
         url('font/webfont/Bigotes-DemiBold-webfont.ttf') format('truetype'),
         url('font/webfont/Bigotes-DemiBold-webfont.svg#bigotesdemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'bigotesheavy';
    src: url('font/webfont/Bigotes-Heavy-webfont.eot');
    src: url('font/webfont/Bigotes-Heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/webfont/Bigotes-Heavy-webfont.woff2') format('woff2'),
         url('font/webfont/Bigotes-Heavy-webfont.woff') format('woff'),
         url('font/webfont/Bigotes-Heavy-webfont.ttf') format('truetype'),
         url('font/webfont/Bigotes-Heavy-webfont.svg#bigotesheavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'bigotesmedium';
    src: url('font/webfont/Bigotes-Medium-webfont.eot');
    src: url('font/webfont/Bigotes-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/webfont/Bigotes-Medium-webfont.woff2') format('woff2'),
         url('font/webfont/Bigotes-Medium-webfont.woff') format('woff'),
         url('font/webfont/Bigotes-Medium-webfont.ttf') format('truetype'),
         url('font/webfont/Bigotes-Medium-webfont.svg#bigotesmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'bigotes_corsivaitalic';
    src: url('font/webfont-curs/BigotesCorsiva-Italic-webfont.eot');
    src: url('font/webfont-curs/BigotesCorsiva-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/webfont-curs/BigotesCorsiva-Italic-webfont.woff2') format('woff2'),
         url('font/webfont-curs/BigotesCorsiva-Italic-webfont.woff') format('woff'),
         url('font/webfont-curs/BigotesCorsiva-Italic-webfont.ttf') format('truetype'),
         url('font/webfont-curs/BigotesCorsiva-Italic-webfont.svg#bigotes_corsivaitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
 


  .containerDefault .trailer {
    width: 50%;
    height: 100%;
    float: left;
    background: #000;
    opacity: 0.5;
  }

  .containerDefault .trailer:hover {
    background-image: url('images/gif/gif.gif');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
  }

  .containerDefault .trailer > div {
    display: block;
    width: 100%;
    height: 100%;
    background: transparent;
    cursor: pointer;
  }

  .containerDefault .trailer-container {
    top: 50%;
    height: 50px;
    left: 50%;
    position: relative;
    width: 100%;
  }

  .containerDefault .trailer .buttonTrailer {
    position: relative;
    top: -70px;
    left: -140px;
  }

  .containerDefault .trailer .buttonTrailer img {
    margin: auto;
  }

  .containerDefault .explorar {
    background-image: url("images/bg/verde.jpg");
    background-position: center center;
    background-repeat: repeat;
    float: left;
    height: 100%;
    width: 50%;
    opacity: 0.3;
    cursor: pointer;
  }

  .containerDefault .explorar:hover {
    opacity: 1;
  }

  .containerDefault .explorar-container {
    top: 50%;
    height: 50px;
    left: 50%;
    position: relative;
    width: 100%;
  }

  .containerDefault .explorar .buttonExplorar {
    position: relative;
    top: -70px;
    left: -140px;
  }

  .containerDefault .explorar .buttonExplorar img {
    margin: auto;
  }


  /*
   * Seccion de Premios
   */
  .premios-container .campana-container {
    display: block;
  }


  /*
   * Seccion de Creditos
   */
  .seccionCreditos {
    background-image: url("images/bg/seccionTrece.jpg");
    background-position: center center;
    background-repeat: repeat;
    background-size: 100% auto;
    width: 100%;
  }  


  /*
   * Seccion de Patrocinadores
   */

  .patrocinadores {
    height: 130px;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .patrocinadores-container .holder {
    height: 82px;
    text-align: center;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

  .container-fluid.fullscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
  }

  .containerDefault .trailer {
    width: 50%;
    height: 100%;
    float: left;
    background: #000;
    opacity: 0.5;
  }

  .containerDefault .trailer:hover {
    background-image: url('images/gif/gif.gif');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
  }

  .containerDefault .trailer > div {
    display: block;
    width: 100%;
    height: 100%;
    background: transparent;
    cursor: pointer;
  }

  .containerDefault .trailer-container {
    top: 50%;
    height: 50px;
    left: 50%;
    position: relative;
    width: 100%;
  }

  .containerDefault .trailer .buttonTrailer {
    position: relative;
    top: -70px;
    left: -165px;
  }

  .containerDefault .trailer .buttonTrailer img {
    margin: auto;
  }

  .containerDefault .explorar {
    background-image: url("images/bg/verde.jpg");
    background-position: center center;
    background-repeat: repeat;
    float: left;
    height: 100%;
    width: 50%;
    opacity: 0.3;
    cursor: pointer;
  }

  .containerDefault .explorar:hover {
    opacity: 1;
  }

  .containerDefault .explorar-container {
    top: 50%;
    height: 50px;
    left: 50%;
    position: relative;
    width: 100%;
  }

  .containerDefault .explorar .buttonExplorar {
    position: relative;
    top: -70px;
    left: -140px;
  }

  .containerDefault .explorar .buttonExplorar img {
    margin: auto;
  }


  /*
   * Seccion de Premios
   */
  .premios-container .campana-container {
    display: block;
  }


  /*
   * Seccion de Creditos
   */
  .seccionCreditos {
    background-image: url("images/bg/seccionTrece.jpg");
    background-position: center center;
    background-repeat: repeat;
    background-size: 100% auto;
    width: 100%;
  }  

  /*
   * Seccion de Patrocinadores
   */

  .patrocinadores {
    height: 110px;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .patrocinadores-container .holder {
    height: 70px;
    text-align: center;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
 


  .container-fluid.fullscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
  }

  .containerDefault .trailer {
    width: 50%;
    height: 100%;
    float: left;
    background: #000;
    opacity: 0.5;
  }

  .containerDefault .trailer:hover {
    background-image: url('images/gif/gif.gif');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
  }

  .containerDefault .trailer > div {
    display: block;
    width: 100%;
    height: 100%;
    background: transparent;
    cursor: pointer;
  }

  .containerDefault .trailer-container {
    top: 50%;
    height: 50px;
    left: 50%;
    position: relative;
    width: 100%;
  }

  .containerDefault .trailer .buttonTrailer {
    position: relative;
    top: -70px;
    left: -165px;
  }

  .containerDefault .trailer .buttonTrailer img {
    margin: auto;
  }

  .containerDefault .explorar {
    background-image: url("images/bg/verde.jpg");
    background-position: center center;
    background-repeat: repeat;
    float: left;
    height: 100%;
    width: 50%;
    opacity: 0.3;
    cursor: pointer;
  }

  .containerDefault .explorar:hover {
    opacity: 1;
  }

  .containerDefault .explorar-container {
    top: 50%;
    height: 50px;
    left: 50%;
    position: relative;
    width: 100%;
  }

  .containerDefault .explorar .buttonExplorar {
    position: relative;
    top: -70px;
    left: -140px;
  }

  .containerDefault .explorar .buttonExplorar img {
    margin: auto;
  }
  

  /*
   * Seccion de Premios
   */
  .premios-container .campana-container {
    display: block;
  }

  /*
   * Seccion de Creditos
   */
  .seccionCreditos {
    background-image: url("images/bg/seccionTrece.jpg");
    background-position: center center;
    background-repeat: repeat;
    background-size: 100% auto;
    width: 100%;
  }  

  /*
   * Seccion de Patrocinadores
   */

  .patrocinadores {
    height: 90px;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .patrocinadores-container .holder {
    height: 65px;
    text-align: center;
  }
}
