.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
  .rslides_tabs.rslides1_tabs {
    height: 40px;
    margin: 15px auto 0;
    text-align: center;
    width: 100px;
}

  .rslides_tabs.rslides1_tabs li{
    display: inline;
    float: none;
    margin-right: 5px;
  }
  .rslides_here a{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8)!important;
}
  .rslides_tabs.rslides1_tabs a{
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0);
    border-radius: 15px;
    box-shadow: 0 0 2px 0 rgba(255, 255, 255, 1) inset;
    display: inline-block;
    height: 15px;
    overflow: hidden;
    text-indent: -9999px;
    width: 15px;
  }

