/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
/*
 * Seccion Logo
 */
.logo {
    height: 100px;
    width: 300px !important
    }

.logo-container {
    left: -150px;
    position: relative;
    max-width: 300px !important
    }

/* End Logo */

.botonMas {
    margin-left: 50%;
    left: -75px;
    margin-top: -60px;
    
    position: absolute;
    width: 150px;
    
    border: 0 none;
    font-family: 'bigotesmedium';
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 8px 0;
    text-align: center;
    text-transform: uppercase;
    z-index: 99;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; /* border radius */
    background-color: #fb0707;
background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDE2OSA0MiIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjOTcwNTA1IiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIzJSIgc3RvcC1jb2xvcj0iIzk3MDUwNSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmIwNzA3IiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSI4NSUiIHN0b3AtY29sb3I9IiNmYjA3MDciIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9Ijk3JSIgc3RvcC1jb2xvcj0iI2ZkNjU2NSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZkNjU2NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTY5IiBoZWlnaHQ9IjQyIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=);
background-image: -moz-linear-gradient(bottom, #970505 0%, #970505 3%, #fb0707 49.51%, #fb0707 85.01%, #fd6565 97%, #fd6565 100%);
background-image: -o-linear-gradient(bottom, #970505 0%, #970505 3%, #fb0707 49.51%, #fb0707 85.01%, #fd6565 97%, #fd6565 100%);
background-image: -webkit-linear-gradient(bottom, #970505 0%, #970505 3%, #fb0707 49.51%, #fb0707 85.01%, #fd6565 97%, #fd6565 100%);
background-image: linear-gradient(bottom, #970505 0%, #970505 3%, #fb0707 49.51%, #fb0707 85.01%, #fd6565 97%, #fd6565 100%);
    transition: all 0.2s linear;
}
.botonMasGal  {
    margin: 40px auto;
    width: 150px;

    border: 0 none;
    font-family: 'bigotesmedium';
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 8px 0;
    text-align: center;
    text-transform: uppercase;
    z-index: 99;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; /* border radius */
    background-color: #fb0707;
background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDE2OSA0MiIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjOTcwNTA1IiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIzJSIgc3RvcC1jb2xvcj0iIzk3MDUwNSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmIwNzA3IiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSI4NSUiIHN0b3AtY29sb3I9IiNmYjA3MDciIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9Ijk3JSIgc3RvcC1jb2xvcj0iI2ZkNjU2NSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZkNjU2NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTY5IiBoZWlnaHQ9IjQyIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=);
background-image: -moz-linear-gradient(bottom, #970505 0%, #970505 3%, #fb0707 49.51%, #fb0707 85.01%, #fd6565 97%, #fd6565 100%);
background-image: -o-linear-gradient(bottom, #970505 0%, #970505 3%, #fb0707 49.51%, #fb0707 85.01%, #fd6565 97%, #fd6565 100%);
background-image: -webkit-linear-gradient(bottom, #970505 0%, #970505 3%, #fb0707 49.51%, #fb0707 85.01%, #fd6565 97%, #fd6565 100%);
background-image: linear-gradient(bottom, #970505 0%, #970505 3%, #fb0707 49.51%, #fb0707 85.01%, #fd6565 97%, #fd6565 100%);
    transition: all 0.2s linear;
}
.regresarConocelos .cerrarInfoBoton {
    margin: 20px auto;
    
    border: 0 none;
    font-family: 'bigotesmedium';
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 8px 0;
    text-align: center;
    text-transform: uppercase;
    z-index: 99;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; /* border radius */
    background-color: #fb0707;
background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDE2OSA0MiIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjOTcwNTA1IiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIzJSIgc3RvcC1jb2xvcj0iIzk3MDUwNSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmIwNzA3IiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSI4NSUiIHN0b3AtY29sb3I9IiNmYjA3MDciIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9Ijk3JSIgc3RvcC1jb2xvcj0iI2ZkNjU2NSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZkNjU2NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTY5IiBoZWlnaHQ9IjQyIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=);
background-image: -moz-linear-gradient(bottom, #970505 0%, #970505 3%, #fb0707 49.51%, #fb0707 85.01%, #fd6565 97%, #fd6565 100%);
background-image: -o-linear-gradient(bottom, #970505 0%, #970505 3%, #fb0707 49.51%, #fb0707 85.01%, #fd6565 97%, #fd6565 100%);
background-image: -webkit-linear-gradient(bottom, #970505 0%, #970505 3%, #fb0707 49.51%, #fb0707 85.01%, #fd6565 97%, #fd6565 100%);
background-image: linear-gradient(bottom, #970505 0%, #970505 3%, #fb0707 49.51%, #fb0707 85.01%, #fd6565 97%, #fd6565 100%);
    transition: all 0.2s linear;
}
.botonVerNota {
    width: 160px;
    height: 37px;
    
    border: 0 none;
    font-family: 'bigotesmedium';
    color: #003d7a;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 8px 0;
    text-align: center;
    text-transform: uppercase;
        
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,.75);
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.75);
    box-shadow: 0 2px 3px rgba(0,0,0,.75);
}
.botonDescargarKit {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0 1px #000;
    color: #fff;
    font-size: 15px;
    font-weight: lighter;
    height: 35px;
    margin: 20px auto;
    text-align: center;
    text-transform: uppercase;
    width: 270px;
    line-height: 35px;
    letter-spacing: 1px;
}

/*
 * Menu
 */
.menu-container ul {
    padding: 0 15px
    }

.menu-container ul .enlace.trailer {
    list-style: outside none none;
    padding: 70px 0
    }

.menu-container ul .enlace {
    list-style: outside none none;
    padding: 10px 0
    }

.menu-container ul .enlace a {
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    text-shadow: 1px -1px #000;
    text-transform: uppercase;
    letter-spacing: 1px
    }

/* Menu */
/*
 * Seccion de Contenedor de Youtube
 */
.container-fluid.fullscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    z-index: 99;
    background: #000
    }

.logoYoutube {
    height: 15%
    }

.logoYoutube img {
    max-width: 300px;
    min-width: 200px
    }

.youtube {
    height: 70%
    }

.youtubeClose {
    height: 15%
    }

.youtubeExplorar {
    height: 15%
    }

/* End Seccion de Contenedor de Youtube */
/*
 * Info
 */
.infoConocelos img {
    margin: auto;
    max-width: 300px
    }

.infoConocelos {
    height: auto
    }

.infoDetalle {
    height: auto;
    overflow-y: hidden
    }

.infoDetalle img {
    margin: 60px auto;
    max-width: 300px;
    width: 200px
    }

.regresarConocelos {
    height: auto
    }

.infoDetalle > h1 {
    font-family: "bigotesbold";
    font-size: 3em;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase
    }

.infoDetalle p {
    font-family: "bigotesmedium";
    font-size: 1.2em;
    letter-spacing: 1px;
    text-align: center
    }

/* Info */
/* SECIONES */
/*
 * Bienvenida
 */
.seccionBienvenida {
    height: 700px;
    width: 100%
    }

.bienvenida-container-inner {
    margin-top: 150px;
    position: absolute !important;
    width: 100%
    }

/* Bienvenida */
/*
 * Noticias
 */
.seccionNoticias .noticias-container {
    margin-bottom: 20px;
    margin-left: 8.33333%;
    padding: 0;
    text-align: center
    }

.seccionNoticias .cortina {
    background-image: url(images/bg/cortina.png);
    background-position: center top;
    background-repeat: repeat-x;
    -webkit-background-size: cover;
    background-size: cover;
    display: table;
    height: 200px;
    margin-top: -20px;
    position: absolute;
    width: 100%;
    z-index: 4
    }

.noticias-container > h1 {
    font-family: "bigotesbold";
    font-size: 3em;
    font-weight: 900;
    letter-spacing: 3px;
    padding: 5px 0;
    text-align: center;
    text-shadow: 1px -1px #000;
    margin-top: 120px
    }

/* Noticias */
/*
 * Sinopsis
 */
.sinopsis-container p {
    font-family: "bigotesmedium";
    font-size: 1.4em;
    font-weight: lighter;
    letter-spacing: 1px;
    line-height: 1.5em;
    margin: 0;
    text-align: center;
    text-shadow: 1px -1px #000
    }

/* Sinopsis */
/*
 * Galerias estaticas
 */
.seccionGaleriaEstaticaParteUno, .seccionGaleriaEstaticaParteDos, .seccionGaleriaEstaticaParteTres {
    height: 90%;
    width: 100%
    }

/* Galerias estaticas */
/*
 * Premios
 */
.premios-container .campana-container {
    display: block
    }

/* Premios */
/*
     * Conocelos
     */
.seccionConocelos > h1 {
    font-family: "bigotesbold";
    font-size: 3em;
    font-weight: 900;
    letter-spacing: 3px;
    margin-top: 20px;
    padding: 5px 0;
    text-align: center;
    text-shadow: 1px -1px #000
    }

.sceneConocelosTablet {
    display: none
    }

.sceneConocelosMobile {
    display: none
    }

.seccionConocelos-inner {
    overflow: hidden
    }

.sceneConocelos, .sceneConocelos .layer {
    display: block;
    height: 100%;
    padding: 0;
    margin: 0
    }

.sceneConocelos {
    margin: auto;
    max-width: 992px;
    min-height: 1275px;
    position: relative
    }

.sceneConocelos .layer {
    position: absolute
    }

.sceneConocelos .layer div {
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden
    }

.layer .pEncabezado {
    display: none;
    position: absolute;
    z-index: 9998
    }

.layer .personaje {
    position: absolute;
    z-index: 8000
    }

.layer .personaje.sombra {
    position: absolute;
    z-index: 8001;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5
    }

.conoceloContainerUno {
    height: 618px;
    margin-left: 270px;
    margin-top: 115px;
    max-width: 235px;
    min-width: 250px;
    position: absolute;
    -moz-transform-origin: 50% 90% 0;
    -ms-transform-origin: 50% 90% 0;
    -o-transform-origin: 50% 90% 0;
    -webkit-transform-origin: 50% 90% 0;
    transform-origin: 50% 90% 0;
    width: 335px
    }

.conoceloContainerUno .personaje {
    width: 100%
    }

.conoceloContainerUno .bubbleInfo {
    left: 115px;
    margin-left: -45px;
    margin-top: -10px;
    position: absolute;
    top: 5px;
    z-index: 9999
    }

.conoceloContainerUno .pEncabezado {
    background-image: url(images/sprites/nombres.png);
    background-position: 0 -111px;
    background-repeat: no-repeat;
    height: 50px;
    margin-left: 25px;
    margin-top: -55px;
    width: 210px
    }

.conoceloContainerDos {
    height: 394px;
    margin-left: 645px;
    margin-top: 110px;
    max-width: 190px;
    min-width: 250px;
    position: absolute;
    -moz-transform-origin: 50% 90% 0;
    -ms-transform-origin: 50% 90% 0;
    -o-transform-origin: 50% 90% 0;
    -webkit-transform-origin: 50% 90% 0;
    transform-origin: 50% 90% 0;
    width: 290px
    }

.conoceloContainerDos .personaje {
    width: 100%
    }

.conoceloContainerDos .bubbleInfo {
    left: 140px;
    position: absolute;
    top: 0;
    z-index: 9999
    }

.conoceloContainerDos .pEncabezado {
    background-image: url(images/sprites/nombres.png);
    background-position: 0 -228px;
    background-repeat: no-repeat;
    height: 50px;
    margin-left: 0;
    margin-top: -55px;
    width: 210px
    }

.conoceloContainerTres {
    height: 1217px;
    margin-left: -100px;
    margin-top: 130px;
    max-width: 357px;
    min-width: 250px;
    position: absolute;
    -moz-transform-origin: 50% 90% 0;
    -ms-transform-origin: 50% 90% 0;
    -o-transform-origin: 50% 90% 0;
    -webkit-transform-origin: 50% 90% 0;
    transform-origin: 50% 90% 0;
    width: 457px
    }

.conoceloContainerTres .personaje {
    width: 100%
    }

.conoceloContainerTres .bubbleInfo {
    left: 120px;
    position: absolute;
    top: 50px;
    z-index: 9999
    }

.conoceloContainerTres .pEncabezado {
    background-image: url(images/sprites/nombres.png);
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 50px;
    margin-left: 120px;
    margin-top: -55px;
    width: 210px
    }

.conoceloContainerCuatro {
    height: 603px;
    margin-left: 370px;
    margin-top: 110px;
    max-width: 414px;
    min-width: 250px;
    position: absolute;
    -moz-transform-origin: 50% 90% 0;
    -ms-transform-origin: 50% 90% 0;
    -o-transform-origin: 50% 90% 0;
    -webkit-transform-origin: 50% 90% 0;
    transform-origin: 50% 90% 0;
    width: 514px
    }

.conoceloContainerCuatro .personaje {
    width: 100%
    }

.conoceloContainerCuatro .bubbleInfo {
    left: 180px;
    position: absolute;
    top: -5px;
    z-index: 9999
    }

.conoceloContainerCuatro .pEncabezado {
    background-image: url(images/sprites/nombres.png);
    background-position: 0 -170px;
    background-repeat: no-repeat;
    height: 50px;
    margin-left: 105px;
    margin-top: -55px;
    width: 210px
    }

.conoceloContainerCinco {
    height: 679px;
    margin-left: 60px;
    margin-top: 140px;
    max-width: 371px;
    min-width: 250px;
    position: absolute;
    -moz-transform-origin: 50% 90% 0;
    -ms-transform-origin: 50% 90% 0;
    -o-transform-origin: 50% 90% 0;
    -webkit-transform-origin: 50% 90% 0;
    transform-origin: 50% 90% 0;
    width: 471px
    }

.conoceloContainerCinco .personaje {
    width: 100%
    }

.conoceloContainerCinco .bubbleInfo {
    left: 160px;
    position: absolute;
    top: -6px;
    z-index: 9999
    }

.conoceloContainerCinco .pEncabezado {
    background-image: url(images/sprites/nombres.png);
    background-position: 0 -56px;
    background-repeat: no-repeat;
    height: 50px;
    margin-left: 90px;
    margin-top: -55px;
    width: 210px
    }

.conoceloContainerSeis {
    height: 1226px;
    margin-left: 620px;
    margin-top: 140px;
    max-width: 545px;
    min-width: 250px;
    position: absolute;
    -moz-transform-origin: 50% 90% 0;
    -ms-transform-origin: 50% 90% 0;
    -o-transform-origin: 50% 90% 0;
    -webkit-transform-origin: 50% 90% 0;
    transform-origin: 50% 90% 0;
    width: 645px
    }

.conoceloContainerSeis .personaje {
    width: 100%
    }

.conoceloContainerSeis .bubbleInfo {
    left: 320px;
    position: absolute;
    top: 0;
    z-index: 9999
    }

.conoceloContainerSeis .pEncabezado {
    background-image: url(images/sprites/nombres.png);
    background-position: 0 -283px;
    background-repeat: no-repeat;
    height: 50px;
    margin-left: 175px;
    margin-top: -55px;
    width: 210px
    }

.conoceloContainerSiete {
    height: 790px;
    margin-left: 300px;
    margin-top: 300px;
    max-width: 337px;
    min-width: 250px;
    position: absolute;
    -moz-transform-origin: 50% 90% 0;
    -ms-transform-origin: 50% 90% 0;
    -o-transform-origin: 50% 90% 0;
    -webkit-transform-origin: 50% 90% 0;
    transform-origin: 50% 90% 0;
    width: 437px
    }

.conoceloContainerSiete .personaje {
    width: 100%
    }

.conoceloContainerSiete .bubbleInfo {
    left: 140px;
    position: absolute;
    top: 40px;
    z-index: 9999
    }

.conoceloContainerSiete .pEncabezado {
    background-image: url(images/sprites/nombres.png);
    background-position: 0 -398px;
    background-repeat: no-repeat;
    height: 50px;
    margin-left: 75px;
    margin-top: -15px;
    width: 210px
    }

.conoceloContainerOcho {
    height: 1044px;
    margin-left: 690px;
    margin-top: 380px;
    max-width: 420px;
    min-width: 250px;
    position: absolute;
    -moz-transform-origin: 50% 90% 0;
    -ms-transform-origin: 50% 90% 0;
    -o-transform-origin: 50% 90% 0;
    -webkit-transform-origin: 50% 90% 0;
    transform-origin: 50% 90% 0;
    width: 520px
    }

.conoceloContainerOcho .personaje {
    width: 100%
    }

.conoceloContainerOcho .bubbleInfo {
    left: 160px;
    position: absolute;
    top: 0;
    z-index: 9999
    }

.conoceloContainerOcho .pEncabezado {
    background-image: url(images/sprites/nombres.png);
    background-position: 0 -340px;
    background-repeat: no-repeat;
    height: 50px;
    margin-left: 95px;
    margin-top: -55px;
    width: 210px
    }

.conoceloContainerNueve {
    height: 896px;
    margin-left: -160px;
    margin-top: 432px;
    max-width: 660px;
    min-width: 250px;
    position: absolute;
    -moz-transform-origin: 50% 90% 0;
    -ms-transform-origin: 50% 90% 0;
    -o-transform-origin: 50% 90% 0;
    -webkit-transform-origin: 50% 90% 0;
    transform-origin: 50% 90% 0;
    width: 760px
    }

.conoceloContainerNueve .personaje {
    width: 100%
    }

.conoceloContainerNueve .bubbleInfo {
    left: 300px;
    position: absolute;
    top: 0;
    z-index: 9999
    }

.conoceloContainerNueve .pEncabezado {
    background-image: url(images/sprites/nombres.png);
    background-position: -225px 0;
    background-repeat: no-repeat;
    height: 50px;
    margin-left: 225px;
    margin-top: -55px;
    width: 210px
    }

.conoceloContainerDiez {
    height: 870px;
    margin-left: 500px;
    margin-top: 450px;
    max-width: 374px;
    min-width: 250px;
    position: absolute;
    -moz-transform-origin: 50% 90% 0;
    -ms-transform-origin: 50% 90% 0;
    -o-transform-origin: 50% 90% 0;
    -webkit-transform-origin: 50% 90% 0;
    transform-origin: 50% 90% 0;
    width: 474px
    }

.conoceloContainerDiez .personaje {
    width: 100%
    }

.conoceloContainerDiez .bubbleInfo {
    left: 200px;
    position: absolute;
    top: 0;
    z-index: 9999
    }

.conoceloContainerDiez .pEncabezado {
    background-image: url(images/sprites/nombres.png);
    background-position: -225px -55px;
    background-repeat: no-repeat;
    height: 50px;
    margin-left: 60px;
    margin-top: -55px;
    width: 210px
    }

.conoceloContainerOnce {
    height: 724px;
    margin-left: -70px;
    margin-top: 770px;
    max-width: 442px;
    min-width: 250px;
    position: absolute;
    -moz-transform-origin: 50% 90% 0;
    -ms-transform-origin: 50% 90% 0;
    -o-transform-origin: 50% 90% 0;
    -webkit-transform-origin: 50% 90% 0;
    transform-origin: 50% 90% 0;
    width: 542px
    }

.conoceloContainerOnce .personaje {
    width: 100%
    }

.conoceloContainerOnce .bubbleInfo {
    left: 145px;
    position: absolute;
    top: 0;
    z-index: 9999
    }

.conoceloContainerOnce .pEncabezado {
    background-image: url(images/sprites/nombres.png);
    background-position: -225px -169px;
    background-repeat: no-repeat;
    height: 50px;
    margin-left: 80px;
    margin-top: -55px;
    width: 210px
    }

.conoceloContainerDoce {
    height: 958px;
    margin-left: 230px;
    margin-top: 534px;
    max-width: 571px;
    min-width: 250px;
    position: absolute;
    -moz-transform-origin: 50% 90% 0;
    -ms-transform-origin: 50% 90% 0;
    -o-transform-origin: 50% 90% 0;
    -webkit-transform-origin: 50% 90% 0;
    transform-origin: 50% 90% 0;
    width: 671px
    }

.conoceloContainerDoce .personaje {
    width: 100%
    }

.conoceloContainerDoce .bubbleInfo {
    left: 275px;
    position: absolute;
    top: 0;
    z-index: 9999
    }

.conoceloContainerDoce .pEncabezado {
    background-image: url(images/sprites/nombres.png);
    background-position: -120px -454px;
    background-repeat: no-repeat;
    height: 50px;
    margin-left: 195px;
    margin-top: -55px;
    width: 210px
    }

.conoceloContainerTrece {
    height: 648px;
    margin-left: 746px;
    margin-top: 630px;
    max-width: 239px;
    min-width: 250px;
    position: absolute;
    -moz-transform-origin: 50% 90% 0;
    -ms-transform-origin: 50% 90% 0;
    -o-transform-origin: 50% 90% 0;
    -webkit-transform-origin: 50% 90% 0;
    transform-origin: 50% 90% 0;
    width: 339px
    }

.conoceloContainerTrece .personaje {
    width: 100%
    }

.conoceloContainerTrece .bubbleInfo {
    left: 167px;
    position: absolute;
    top: 0;
    z-index: 9999
    }

.conoceloContainerTrece .pEncabezado {
    background-image: url(images/sprites/nombres.png);
    background-position: -225px -112px;
    background-repeat: no-repeat;
    height: 50px;
    margin-left: 40px;
    margin-top: -55px;
    width: 210px
    }

.conoceloContainerCatorce {
    height: 561px;
    margin-left: 130px;
    margin-top: 915px;
    max-width: 287px;
    min-width: 250px;
    position: absolute;
    -moz-transform-origin: 50% 90% 0;
    -ms-transform-origin: 50% 90% 0;
    -o-transform-origin: 50% 90% 0;
    -webkit-transform-origin: 50% 90% 0;
    transform-origin: 50% 90% 0;
    width: 387px
    }

.conoceloContainerCatorce .personaje {
    width: 100%
    }

.conoceloContainerCatorce .bubbleInfo {
    left: 150px;
    position: absolute;
    top: 0;
    z-index: 9999
    }

.conoceloContainerCatorce .pEncabezado {
    background-image: url(images/sprites/nombres.png);
    background-position: -225px -226px;
    background-repeat: no-repeat;
    height: 50px;
    margin-left: 70px;
    margin-top: -55px;
    width: 210px
    }

.conoceloContainerQuince {
    height: 548px;
    margin-left: 335px;
    margin-top: 920px;
    max-width: 290px;
    min-width: 250px;
    position: absolute;
    -moz-transform-origin: 50% 90% 0;
    -ms-transform-origin: 50% 90% 0;
    -o-transform-origin: 50% 90% 0;
    -webkit-transform-origin: 50% 90% 0;
    transform-origin: 50% 90% 0;
    width: 390px
    }

.conoceloContainerQuince .personaje {
    width: 100%
    }

.conoceloContainerQuince .bubbleInfo {
    left: 100px;
    position: absolute;
    top: 0;
    z-index: 9999
    }

.conoceloContainerQuince .pEncabezado {
    background-image: url(images/sprites/nombres.png);
    background-position: -225px -284px;
    background-repeat: no-repeat;
    height: 50px;
    margin-left: 20px;
    margin-top: -55px;
    width: 210px
    }

.conoceloContainerDiezyseis {
    height: 493px;
    margin-left: 450px;
    margin-top: 925px;
    max-width: 436px;
    min-width: 250px;
    position: absolute;
    -moz-transform-origin: 50% 90% 0;
    -ms-transform-origin: 50% 90% 0;
    -o-transform-origin: 50% 90% 0;
    -webkit-transform-origin: 50% 90% 0;
    transform-origin: 50% 90% 0;
    width: 536px
    }

.conoceloContainerDiezyseis .personaje {
    width: 100%
    }

.conoceloContainerDiezyseis .bubbleInfo {
    left: 250px;
    position: absolute;
    top: 0;
    z-index: 9999
    }

.conoceloContainerDiezyseis .pEncabezado {
    background-image: url(images/sprites/nombres.png);
    background-position: -212px -338px;
    background-repeat: no-repeat;
    height: 50px;
    margin-left: 140px;
    margin-top: -55px;
    width: 229px
    }

.conoceloContainerDiezysiete {
    height: 647px;
    margin-left: 480px;
    margin-top: 820px;
    max-width: 598px;
    min-width: 250px;
    position: absolute;
    -moz-transform-origin: 50% 90% 0;
    -ms-transform-origin: 50% 90% 0;
    -o-transform-origin: 50% 90% 0;
    -webkit-transform-origin: 50% 90% 0;
    transform-origin: 50% 90% 0;
    width: 698px
    }

.conoceloContainerDiezysiete .personaje {
    width: 100%
    }

.conoceloContainerDiezysiete .bubbleInfo {
    left: 330px;
    position: absolute;
    top: 0;
    z-index: 9999
    }

.conoceloContainerDiezysiete .pEncabezado {
    background-image: url(images/sprites/nombres.png);
    background-position: -212px -398px;
    background-repeat: no-repeat;
    height: 50px;
    margin-left: 240px;
    margin-top: -55px;
    width: 229px
    }

/* Conocelos */
/*
 * Detras
 */
.seccionDetras > h1 {
    font-size: 40px;
    font-weight: 900;
    margin-top: 50px;
    padding: 5px 0;
    text-align: center;
    text-shadow: 1px -1px #000;
    font-size: 3em;
    letter-spacing: 3px
    }
.marginBlockLeft{
    padding:0 26px 26px 0!important;
}  
/* Detras */
/*
 * Premios
 */
.premios-container h1 {
    font-family: "bigotesbold";
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 3px;
    margin-top: 20px;
    padding: 5px 0;
    text-align: center;
    text-shadow: 1px -1px #000
    }

.premios-container h4 {
    font-family: "bigotes_corsivaitalic";
    font-size: 1.8em;
    font-weight: 900;
    letter-spacing: 1px;
    margin-top: 20px;
    padding: 5px 0;
    text-align: center;
    text-shadow: 1px -1px #000
    }

/* Premios */
/*
 * Seccion Creditos
 */
.seccionCreditos {
    background-image: url(images/bg/seccionTrece.jpg);
    background-position: center center;
    background-repeat: repeat;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    width: 100%
    }

.creditosDesktop {
    display: block
    }

.creditosMobile {
    display: none
    }

.seccionCreditos img {
    margin: auto
    }

.creditos-container {
    position: relative
    }

.creditos-container-inner > table {
    text-align: center
    }

.creditos-container-inner table {
    width: 100%
    }

.creditos-container-inner table p {
    font-size: 0.8em;
    font-weight: lighter;
    line-height: 25px;
    text-shadow: 1px -1px #000;
    margin: 0
    }

.creditos-container-inner table p b {
    font-weight: 900;
    line-height: 25px;
    text-shadow: 1px -1px #000
    }

/* Seccion Creditos */
/* Patrocinadores */
.patrocinadores-container img {
    margin: auto;
    max-height: auto !important;
    height: auto !important;
    max-width: 100%
    }

/*End Patrocinadores */

}