/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

    /*
     * Seccion Logo
     */
    .logo {
        height:100px;
        width:300px !important
    }

    .logo-container {
        left:-150px;
        position:relative;
        max-width:300px!important
    }

    /* End Logo */
    /*
     * Seccion de Contenedor de Youtube
     */
    .container-fluid.fullscreen {
        position:fixed;
        width:100%;
        height:100%;
        display:none;
        top:0;
        z-index:99;
        background:#000
    }

    .logoYoutube {
        height:15%
    }

    .logoYoutube img {
        max-width:300px;
        min-width:200px
    }

    .youtube {
        height:70%
    }

    .youtubeClose {
        height:15%
    }

    .youtubeExplorar {
        height:15%
    }

    /* End Seccion de Contenedor de Youtube */
    /* SECIONES */
    /*
     * Primera
     */
    .seccionBienvenida {
        background-image:url(images/bg/seccionUno.jpg);
        background-position:center;
        background-repeat:no-repeat;
        background-size:100% auto;
        height:700px;
        max-height:700px;
        min-height:700px;
        width:100%
    }

    .bienvenida-container-inner {
        margin-top:100px
    }

    /* Primera */
    /*
     * Noticias
     */
    .seccionNoticias {
        background-image:url(images/bg/seccionDos.jpg);
        background-position:center top;
        background-repeat:repeat;
        background-size:100% 100%;
        display:table;
        height:600px;
        max-height:600px;
        min-height:600px;
        width:100%
    }

    /* Noticias */
    /*
     * Sinopsis
     */
    .seccionSinopsis {
        background-image:url(images/bg/seccionTres.jpg);
        background-position:center center;
        background-repeat:repeat;
        background-size:100% auto;
        display:table;
        height:600px;
        max-height:600px;
        min-height:600px;
        width:100%
    }

    .sinopsis-container {
        margin-top:40px
    }

    .sinopsis-container > h1 {
        font-size:2em;
        font-weight:900;
        padding:5px 0;
        text-align:center;
        text-shadow:1px -1px #000
    }

    .sinopsis-container p {
        font-size:1.4em;
        font-weight:lighter;
        line-height:40px;
        text-align:center;
        text-shadow:1px -1px #000;
        margin:0
    }

    /*
     * Conocelos
     */
    .sceneConocelosTablet{
        display:none;
    } 
    .sceneConocelosMobile{
  display:none;
}
    .seccionConocelos-inner{
        overflow: hidden;
    } 
    .sceneConocelos,.sceneConocelos .layer {
        display:block;
        height:100%;
        padding:0;
        margin:0
    }

    .sceneConocelos {
        max-width: 1200px;
    min-height: 1425px;
    position: relative;
    margin: auto;
    }

    .sceneConocelos .layer {
        position:absolute
    }

    .sceneConocelos .layer div {
        -webkit-transform:translate3d(0,0,0);
        -moz-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0);
        -webkit-transform-style:preserve-3d;
        -moz-transform-style:preserve-3d;
        transform-style:preserve-3d;
        -webkit-backface-visibility:hidden;
        -moz-backface-visibility:hidden;
        backface-visibility:hidden
    }

    .layer .pEncabezado {
        display:none;
        position:absolute;
        z-index:9998
    }

    .layer .personaje {
        position:absolute;
        z-index:8000
    }

    .layer .personaje.sombra {
        position:absolute;
        z-index:8001;
        opacity:.5
    }

    .conoceloContainerUno {
        height: 618px;
    margin-left: 334px;
    margin-top: 115px;
    max-width: 285px;
    min-width: 250px;
    position: absolute;
    transform-origin: 50% 90% 0;
    width: 335px;
    }

    .conoceloContainerUno .personaje {
        width:100%
    }

    .conoceloContainerUno .bubbleInfo {
        left: 115px;
    margin-left: -45px;
    margin-top: -10px;
    position: absolute;
    top: 5px;
    z-index: 9999;
    }

    .conoceloContainerUno .pEncabezado {
        background-image:url(images/sprites/nombres.png);
        background-position:0 -111px;
        background-repeat:no-repeat;
        height:50px;
        width:210px;
        margin-left:70px;
        margin-top:-40px
    }

    .conoceloContainerDos {
        height: 394px;
    margin-left: 780px;
    margin-top: 110px;
    max-width: 240px;
    min-width: 250px;
    position: absolute;
    transform-origin: 50% 90% 0;
    width: 290px;
    }

    .conoceloContainerDos .personaje {
        width:100%
    }

    .conoceloContainerDos .bubbleInfo {
        left: 140px;
    position: absolute;
    top: 0;
    z-index: 9999;
    }

    .conoceloContainerDos .pEncabezado {
        background-image:url(images/sprites/nombres.png);
        background-position:0 -228px;
        background-repeat:no-repeat;
        height:50px;
        margin-left:10px;
        margin-top:-40px;
        width:210px
    }

    .conoceloContainerTres {
        height: 1217px;
    margin-left: -100px;
    margin-top: 130px;
    max-width: 407px;
    min-width: 250px;
    position: absolute;
    transform-origin: 50% 90% 0;
    width: 457px;
    }

    .conoceloContainerTres .personaje {
        width:100%
    }

    .conoceloContainerTres .bubbleInfo {
        left: 160px;
    position: absolute;
    top: 50px;
    z-index: 9999;
    }

    .conoceloContainerTres .pEncabezado {
        background-image:url(images/sprites/nombres.png);
        background-position:0 0;
        background-repeat:no-repeat;
        height:50px;
        margin-left:150px;
        margin-top:-40px;
        width:210px
    }

    .conoceloContainerCuatro {
        height: 603px;
    margin-left: 465px;
    margin-top: 110px;
    max-width: 464px;
    min-width: 250px;
    position: absolute;
    transform-origin: 50% 90% 0;
    width: 514px;
    }

    .conoceloContainerCuatro .personaje {
        width:100%
    }

    .conoceloContainerCuatro .bubbleInfo {
        left: 180px;
    position: absolute;
    top: -5px;
    z-index: 9999;
    }

    .conoceloContainerCuatro .pEncabezado {
        background-image:url(images/sprites/nombres.png);
        background-position:0 -170px;
        background-repeat:no-repeat;
        height:50px;
        margin-left:150px;
        margin-top:-40px;
        width:210px
    }

    .conoceloContainerCinco {
        height: 679px;
    margin-left: 100px;
    margin-top: 140px;
    max-width: 421px;
    min-width: 250px;
    position: absolute;
    transform-origin: 50% 90% 0;
    width: 471px;
    }

    .conoceloContainerCinco .personaje {
        width:100%
    }

    .conoceloContainerCinco .bubbleInfo {
        left: 160px;
    position: absolute;
    top: -6px;
    z-index: 9999;
    }

    .conoceloContainerCinco .pEncabezado {
        background-image:url(images/sprites/nombres.png);
        background-position:0 -56px;
        background-repeat:no-repeat;
        height:50px;
        margin-left:150px;
        margin-top:-40px;
        width:210px
    }

    .conoceloContainerSeis {
        height: 1226px;
    margin-left: 740px;
    margin-top: 140px;
    max-width: 595px;
    min-width: 250px;
    position: absolute;
    transform-origin: 50% 90% 0;
    width: 645px;
    }

    .conoceloContainerSeis .personaje {
        width:100%
    }

    .conoceloContainerSeis .bubbleInfo {
        left: 360px;
    position: absolute;
    top: 0;
    z-index: 9999;
    }

    .conoceloContainerSeis .pEncabezado {
        background-image:url(images/sprites/nombres.png);
        background-position:0 -283px;
        background-repeat:no-repeat;
        height:50px;
        margin-left:245px;
        margin-top:-40px;
        width:210px
    }

    .conoceloContainerSiete {
        height: 790px;
    margin-left: 370px;
    margin-top: 330px;
    max-width: 387px;
    min-width: 250px;
    position: absolute;
    transform-origin: 50% 90% 0;
    width: 437px;
    }

    .conoceloContainerSiete .personaje {
        width:100%
    }

    .conoceloContainerSiete .bubbleInfo {
        left: 140px;
    position: absolute;
    top: 40px;
    z-index: 9999;
    }

    .conoceloContainerSiete .pEncabezado {
        background-image:url(images/sprites/nombres.png);
        background-position:0 -398px;
        background-repeat:no-repeat;
        height:50px;
        margin-left:135px;
        margin-top:0;
        width:210px
    }

    .conoceloContainerOcho {
        height: 1044px;
    margin-left: 810px;
    margin-top: 404px;
    max-width: 470px;
    min-width: 250px;
    position: absolute;
    transform-origin: 50% 90% 0;
    width: 520px;
    }

    .conoceloContainerOcho .personaje {
        width:100%
    }

    .conoceloContainerOcho .bubbleInfo {
        left: 160px;
    position: absolute;
    top: 0;
    z-index: 9999;
    }

    .conoceloContainerOcho .pEncabezado {
        background-image:url(images/sprites/nombres.png);
        background-position:0 -340px;
        background-repeat:no-repeat;
        height:50px;
        margin-left:135px;
        margin-top:-40px;
        width:210px
    }

    .conoceloContainerNueve {
        height: 896px;
    margin-left: -100px;
    margin-top: 480px;
    max-width: 710px;
    min-width: 250px;
    position: absolute;
    transform-origin: 50% 90% 0;
    width: 760px;
    }

    .conoceloContainerNueve .personaje {
        width:100%
    }

    .conoceloContainerNueve .bubbleInfo {
        left: 300px;
    position: absolute;
    top: 0;
    z-index: 9999;
    }

    .conoceloContainerNueve .pEncabezado {
        background-image:url(images/sprites/nombres.png);
        background-position:-225px 0;
        background-repeat:no-repeat;
        height:50px;
        margin-left:285px;
        margin-top:-40px;
        width:210px
    }

    .conoceloContainerDiez {
        height: 870px;
    margin-left: 615px;
    margin-top: 485px;
    max-width: 424px;
    min-width: 250px;
    position: absolute;
    transform-origin: 50% 90% 0;
    width: 474px;
    }

    .conoceloContainerDiez .personaje {
        width:100%
    }

    .conoceloContainerDiez .bubbleInfo {
        left: 200px;
    position: absolute;
    top: 0;
    z-index: 9999;
    }

    .conoceloContainerDiez .pEncabezado {
        background-image:url(images/sprites/nombres.png);
        background-position:-225px -55px;
        background-repeat:no-repeat;
        height:50px;
        margin-left:85px;
        margin-top:-40px;
        width:210px
    }

    .conoceloContainerOnce {
        height: 724px;
    margin-left: -30px;
    margin-top: 841px;
    max-width: 492px;
    min-width: 250px;
    position: absolute;
    transform-origin: 50% 90% 0;
    width: 542px;
    }

    .conoceloContainerOnce .personaje {
        width:100%
    }

    .conoceloContainerOnce .bubbleInfo {
        left: 145px;
    position: absolute;
    top: 0;
    z-index: 9999;
    }

    .conoceloContainerOnce .pEncabezado {
        background-image:url(images/sprites/nombres.png);
        background-position:-225px -169px;
        background-repeat:no-repeat;
        height:50px;
        margin-left:120px;
        margin-top:-40px;
        width:210px
    }

    .conoceloContainerDoce {
        height: 958px;
    margin-left: 312px;
    margin-top: 620px;
    max-width: 621px;
    min-width: 250px;
    position: absolute;
    transform-origin: 50% 90% 0;
    width: 671px;
    }

    .conoceloContainerDoce .personaje {
        width:100%
    }

    .conoceloContainerDoce .bubbleInfo {
        left: 320px;
    position: absolute;
    top: 0;
    z-index: 9999;
    }

    .conoceloContainerDoce .pEncabezado {
        background-image:url(images/sprites/nombres.png);
        background-position:-120px -454px;
        background-repeat:no-repeat;
        height:50px;
        margin-left:265px;
        margin-top:-40px;
        width:210px
    }

    .conoceloContainerTrece {
        height: 648px;
    margin-left: 885px;
    margin-top: 675px;
    max-width: 289px;
    min-width: 250px;
    position: absolute;
    transform-origin: 50% 90% 0;
    width: 339px;
    }

    .conoceloContainerTrece .personaje {
        width:100%
    }

    .conoceloContainerTrece .bubbleInfo {
        left: 220px;
    position: absolute;
    top: 0;
    z-index: 9999;
    }

    .conoceloContainerTrece .pEncabezado {
        background-image:url(images/sprites/nombres.png);
        background-position:-225px -112px;
        background-repeat:no-repeat;
        height:50px;
        margin-left:120px;
        margin-top:-40px;
        width:210px
    }

    .conoceloContainerCatorce {
        height: 561px;
    margin-left: 200px;
    margin-top: 1000px;
    max-width: 337px;
    min-width: 250px;
    position: absolute;
    transform-origin: 50% 90% 0;
    width: 387px;
    }

    .conoceloContainerCatorce .personaje {
        width:100%
    }

    .conoceloContainerCatorce .bubbleInfo {
        left: 150px;
    position: absolute;
    top: 0;
    z-index: 9999;
    }

    .conoceloContainerCatorce .pEncabezado {
        background-image:url(images/sprites/nombres.png);
        background-position:-225px -226px;
        background-repeat:no-repeat;
        height:50px;
        margin-left:120px;
        margin-top:-40px;
        width:210px
    }

    .conoceloContainerQuince {
        height: 548px;
    margin-left: 440px;
    margin-top: 1003px;
    max-width: 340px;
    min-width: 250px;
    position: absolute;
    transform-origin: 50% 90% 0;
    width: 390px;
    }

    .conoceloContainerQuince .personaje {
        width:100%
    }

    .conoceloContainerQuince .bubbleInfo {
        left: 150px;
    position: absolute;
    top: 0;
    z-index: 9999;
    }

    .conoceloContainerQuince .pEncabezado {
        background-image:url(images/sprites/nombres.png);
        background-position:-225px -284px;
        background-repeat:no-repeat;
        height:50px;
        margin-left:65px;
        margin-top:-40px;
        width:210px
    }

    .conoceloContainerDiezyseis {
        height: 493px;
    margin-left: 560px;
    margin-top: 1015px;
    max-width: 486px;
    min-width: 250px;
    position: absolute;
    transform-origin: 50% 90% 0;
    width: 536px;
    }

    .conoceloContainerDiezyseis .personaje {
        width:100%
    }

    .conoceloContainerDiezyseis .bubbleInfo {
        left: 340px;
    position: absolute;
    top: 0;
    z-index: 9999;
    }

    .conoceloContainerDiezyseis .pEncabezado {
        background-image:url(images/sprites/nombres.png);
        background-position:-212px -338px;
        background-repeat:no-repeat;
        height:50px;
        margin-left:218px;
        margin-top:-40px;
        width:229px
    }

    .conoceloContainerDiezysiete {
        height: 647px;
    margin-left: 615px;
    margin-top: 900px;
    max-width: 648px;
    min-width: 250px;
    position: absolute;
    transform-origin: 50% 90% 0;
    width: 698px;
    }

    .conoceloContainerDiezysiete .personaje {
        width:100%
    }

    .conoceloContainerDiezysiete .bubbleInfo {
        left: 440px;
    position: absolute;
    top: 0;
    z-index: 9999;
    }

    .conoceloContainerDiezysiete .pEncabezado {
        background-image:url(images/sprites/nombres.png);
        background-position:-212px -398px;
        background-repeat:no-repeat;
        height:50px;
        margin-left:290px;
        margin-top:-40px;
        width:229px
    }

    /* Conocelos */
    /* Galerias Estaticas */
    .seccionGaleriaEstaticaParteUno {
        background-image:url(images/bg/seccionCuatro.jpg);
        background-position:top center;
        background-repeat:repeat;
        background-size:100% auto;
        height:700px;
        max-height:700px;
        min-height:700px;
        width:100%
    }

    .seccionGaleriaEstaticaParteDos {
        background-image:url(images/bg/seccionSeis.jpg);
        background-position:center top;
        background-repeat:repeat;
        background-size:100% auto;
        height:700px;
        max-height:700px;
        min-height:700px;
        width:100%
    }

    .seccionGaleriaEstaticaParteTres {
        background-image:url(images/bg/seccionSiete.jpg);
        background-position:center top;
        background-repeat:repeat;
        background-size:100% auto;
        height:700px;
        max-height:700px;
        min-height:700px;
        width:100%
    }

    /* Galerias Estaticas*/
    /*
     * Galeria
     */
    .seccionGaleria {
        background-image:url(images/bg/seccionOcho.jpg);
        background-position:center center;
        background-repeat:repeat;
        background-size:100% auto;
        display:table;
        height:600px;
        max-height:600px;
        min-height:600px;
        width:100%
    }

    .seccionGaleria-container .buttonGaleria {
        margin-top:225px;
        cursor:pointer
    }

    /* Galeria */
    /*
     * Premios
     */
    .seccionPremios {
        background-image:url(images/bg/seccionDoce.jpg);
        background-position:center center;
        background-repeat:repeat;
        background-size:100% auto;
        display:table;
        height:600px;
        max-height:600px;
        min-height:600px;
        width:100%
    }

    .premios-container {
        margin-top:100px
    }

    .premios-container .campana-container {
        display:block
    }

    /* Premios */
    /*
     * Seccion Creditos
     */
    .seccionCreditos {
        background-image:url(images/bg/seccionTrece.jpg);
        background-position:center center;
        background-repeat:repeat;
        background-size:100% auto;
        width:100%;
        display:table;
        height:600px;
        min-height:600px;
        max-height:600px
    }

    .creditosDesktop {
        display:block
    }

    .creditosMobile {
        display:none
    }

    .seccionCreditos img {
        margin:auto
    }

    .creditos-container {
        position:relative
    }

    .creditos-container-inner {
        margin-top:100px
    }

    .creditos-container-inner > table {
        text-align:center
    }

    .creditos-container-inner table {
        width:100%
    }

    .creditos-container-inner table p {
        font-size:1.2em;
        font-weight:lighter;
        line-height:25px;
        margin:0;
        text-shadow:1px -1px #000;
        padding:4px 0
    }

    .creditos-container-inner table p b {
        font-weight:900;
        line-height:25px;
        text-shadow:1px -1px #000
    }

    /* Seccion Creditos */
    /* Patrocinadores */
    .patrocinadores {
        background-image:url(images/bg/footer.jpg);
        background-position:center center;
        background-repeat:repeat;
        background-size:auto auto;
        display:table;
        height:230px;
        max-height:230px;
        min-height:230px;
        width:100%
    }
.patrocinadores-container {
    margin-top: 65px;
}
.patrocinadores-container img {
    margin: auto;
    max-height: auto!important;
    height: auto!important;
    max-width: 100%;
}

    /*End Patrocinadores */

}