/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

/*
 * Seccion Logo
 */
.logo {
	height: 100px;
	width: 300px!important;
}
.logo-container {
	left: -150px;
	position: relative;
	max-width: 300px!important;
} 
/* End Logo */ 

/*
 * Seccion de Contenedor de Youtube
 */
.container-fluid.fullscreen {
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	top: 0;
	z-index: 99;
	background:#000;
}
.logoYoutube{
	height: 15%;
} 
.logoYoutube img{
	max-width: 300px;
	min-width: 200px;
}
.youtube {
	height: 70%;
}
.youtubeClose {
	height: 15%;
}
.youtubeExplorar{
	height: 15%;
}
/* End Seccion de Contenedor de Youtube */

/* SECIONES */

/*
 * Premios
 */
.premios-container .campana-container {
    display: block;
}
/* Premios */
/*
     * Conocelos
     */
    .sceneConocelosTablet{
        display:none;
    }
    .sceneConocelosMobile{
  display:none;
}
    .seccionConocelos-inner{
        overflow: hidden;
    } 
    .sceneConocelos,.sceneConocelos .layer {
        display:block;
        height:100%;
        padding:0;
        margin:0
    }

    .sceneConocelos {
        max-width: 992px;
    min-height: 1325px;
    position: relative;
    margin: auto;
    }

    .sceneConocelos .layer {
        position:absolute
    }

    .sceneConocelos .layer div {
        -webkit-transform:translate3d(0,0,0);
        -moz-transform:translate3d(0,0,0);
        transform:translate3d(0,0,0);
        -webkit-transform-style:preserve-3d;
        -moz-transform-style:preserve-3d;
        transform-style:preserve-3d;
        -webkit-backface-visibility:hidden;
        -moz-backface-visibility:hidden;
        backface-visibility:hidden
    }

    .layer .pEncabezado {
        display:none;
        position:absolute;
        z-index:9998
    }

    .layer .personaje {
        position:absolute;
        z-index:8000
    }

    .layer .personaje.sombra {
        position:absolute;
        z-index:8001;
        opacity:.5
    }

    .conoceloContainerUno {
        height: 618px;
    margin-left: 270px;
    margin-top: 115px;
    max-width: 235px;
    min-width: 250px;
    position: absolute;
    transform-origin: 50% 90% 0;
    width: 335px;
    }

    .conoceloContainerUno .personaje {
        width:100%
    }

    .conoceloContainerUno .bubbleInfo {
        left: 115px;
    margin-left: -45px;
    margin-top: -10px;
    position: absolute;
    top: 5px;
    z-index: 9999;
    }

    .conoceloContainerUno .pEncabezado {
        background-image: url("images/sprites/nombres.png");
    background-position: 0 -111px;
    background-repeat: no-repeat;
    height: 50px;
    margin-left: 30px;
    margin-top: -40px;
    width: 210px;
    }

    .conoceloContainerDos {
        height: 394px;
    margin-left: 645px;
    margin-top: 110px;
    max-width: 190px;
    min-width: 250px;
    position: absolute;
    transform-origin: 50% 90% 0;
    width: 290px;
    }

    .conoceloContainerDos .personaje {
        width:100%
    }

    .conoceloContainerDos .bubbleInfo {
        left: 140px;
    position: absolute;
    top: 0;
    z-index: 9999;
    }

    .conoceloContainerDos .pEncabezado {
        background-image: url("images/sprites/nombres.png");
    background-position: 0 -228px;
    background-repeat: no-repeat;
    height: 50px;
    margin-left: 0;
    margin-top: -40px;
    width: 210px;
    }

    .conoceloContainerTres {
        height: 1217px;
    margin-left: -100px;
    margin-top: 130px;
    max-width: 357px;
    min-width: 250px;
    position: absolute;
    transform-origin: 50% 90% 0;
    width: 457px;
    }

    .conoceloContainerTres .personaje {
        width:100%
    }

    .conoceloContainerTres .bubbleInfo {
        left: 120px;
    position: absolute;
    top: 50px;
    z-index: 9999;
    }

    .conoceloContainerTres .pEncabezado {
        background-image: url("images/sprites/nombres.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    height: 50px;
    margin-left: 120px;
    margin-top: -40px;
    width: 210px;
    }

    .conoceloContainerCuatro {
        height: 603px;
    margin-left: 370px;
    margin-top: 110px;
    max-width: 414px;
    min-width: 250px;
    position: absolute;
    transform-origin: 50% 90% 0;
    width: 514px;
    }

    .conoceloContainerCuatro .personaje {
        width:100%
    }

    .conoceloContainerCuatro .bubbleInfo {
        left: 180px;
    position: absolute;
    top: -5px;
    z-index: 9999;
    }

    .conoceloContainerCuatro .pEncabezado {
        background-image: url("images/sprites/nombres.png");
    background-position: 0 -170px;
    background-repeat: no-repeat;
    height: 50px;
    margin-left: 125px;
    margin-top: -40px;
    width: 210px;
    }

    .conoceloContainerCinco {
        height: 679px;
    margin-left: 60px;
    margin-top: 140px;
    max-width: 371px;
    min-width: 250px;
    position: absolute;
    transform-origin: 50% 90% 0;
    width: 471px;
    }

    .conoceloContainerCinco .personaje {
        width:100%
    }

    .conoceloContainerCinco .bubbleInfo {
        left: 160px;
    position: absolute;
    top: -6px;
    z-index: 9999;
    }

    .conoceloContainerCinco .pEncabezado {
        background-image: url("images/sprites/nombres.png");
    background-position: 0 -56px;
    background-repeat: no-repeat;
    height: 50px;
    margin-left: 105px;
    margin-top: -40px;
    width: 210px;
    }

    .conoceloContainerSeis {
        height: 1226px;
    margin-left: 620px;
    margin-top: 140px;
    max-width: 545px;
    min-width: 250px;
    position: absolute;
    transform-origin: 50% 90% 0;
    width: 645px;
    }

    .conoceloContainerSeis .personaje {
        width:100%
    }

    .conoceloContainerSeis .bubbleInfo {
        left: 320px;
    position: absolute;
    top: 0;
    z-index: 9999;
    }

    .conoceloContainerSeis .pEncabezado {
        background-image: url("images/sprites/nombres.png");
    background-position: 0 -283px;
    background-repeat: no-repeat;
    height: 50px;
    margin-left: 190px;
    margin-top: -40px;
    width: 210px;
    }

    .conoceloContainerSiete {
        height: 790px;
    margin-left: 300px;
    margin-top: 300px;
    max-width: 337px;
    min-width: 250px;
    position: absolute;
    transform-origin: 50% 90% 0;
    width: 437px;
    }

    .conoceloContainerSiete .personaje {
        width:100%
    }

    .conoceloContainerSiete .bubbleInfo {
        left: 140px;
    position: absolute;
    top: 40px;
    z-index: 9999;
    }

    .conoceloContainerSiete .pEncabezado {
        background-image: url("images/sprites/nombres.png");
    background-position: 0 -398px;
    background-repeat: no-repeat;
    height: 50px;
    margin-left: 85px;
    margin-top: 0;
    width: 210px;
    }

    .conoceloContainerOcho {
        height: 1044px;
    margin-left: 690px;
    margin-top: 380px;
    max-width: 420px;
    min-width: 250px;
    position: absolute;
    transform-origin: 50% 90% 0;
    width: 520px;
    }

    .conoceloContainerOcho .personaje {
        width:100%
    }

    .conoceloContainerOcho .bubbleInfo {
        left: 160px;
    position: absolute;
    top: 0;
    z-index: 9999;
    }

    .conoceloContainerOcho .pEncabezado {
        background-image: url("images/sprites/nombres.png");
    background-position: 0 -340px;
    background-repeat: no-repeat;
    height: 50px;
    margin-left: 105px;
    margin-top: -40px;
    width: 210px;
    }

    .conoceloContainerNueve {
        height: 896px;
    margin-left: -160px;
    margin-top: 432px;
    max-width: 660px;
    min-width: 250px;
    position: absolute;
    transform-origin: 50% 90% 0;
    width: 760px;
    }

    .conoceloContainerNueve .personaje {
        width:100%
    }

    .conoceloContainerNueve .bubbleInfo {
        left: 300px;
    position: absolute;
    top: 0;
    z-index: 9999;
    }

    .conoceloContainerNueve .pEncabezado {
        background-image: url("images/sprites/nombres.png");
    background-position: -225px 0;
    background-repeat: no-repeat;
    height: 50px;
    margin-left: 240px;
    margin-top: -40px;
    width: 210px;
    }

    .conoceloContainerDiez {
        height: 870px;
    margin-left: 500px;
    margin-top: 450px;
    max-width: 374px;
    min-width: 250px;
    position: absolute;
    transform-origin: 50% 90% 0;
    width: 474px;
    }

    .conoceloContainerDiez .personaje {
        width:100%
    }

    .conoceloContainerDiez .bubbleInfo {
        left: 200px;
    position: absolute;
    top: 0;
    z-index: 9999;
    }

    .conoceloContainerDiez .pEncabezado {
        background-image: url("images/sprites/nombres.png");
    background-position: -225px -55px;
    background-repeat: no-repeat;
    height: 50px;
    margin-left: 70px;
    margin-top: -40px;
    width: 210px;
    }

    .conoceloContainerOnce {
        height: 724px;
    margin-left: -70px;
    margin-top: 770px;
    max-width: 442px;
    min-width: 250px;
    position: absolute;
    transform-origin: 50% 90% 0;
    width: 542px;
    }

    .conoceloContainerOnce .personaje {
        width:100%
    }

    .conoceloContainerOnce .bubbleInfo {
        left: 145px;
    position: absolute;
    top: 0;
    z-index: 9999;
    }

    .conoceloContainerOnce .pEncabezado {
        background-image: url("images/sprites/nombres.png");
    background-position: -225px -169px;
    background-repeat: no-repeat;
    height: 50px;
    margin-left: 85px;
    margin-top: -40px;
    width: 210px;
    }

    .conoceloContainerDoce {
        height: 958px;
    margin-left: 230px;
    margin-top: 534px;
    max-width: 571px;
    min-width: 250px;
    position: absolute;
    transform-origin: 50% 90% 0;
    width: 671px;
    }

    .conoceloContainerDoce .personaje {
        width:100%
    }

    .conoceloContainerDoce .bubbleInfo {
        left: 275px;
    position: absolute;
    top: 0;
    z-index: 9999;
    }

    .conoceloContainerDoce .pEncabezado {
        background-image: url("images/sprites/nombres.png");
    background-position: -120px -454px;
    background-repeat: no-repeat;
    height: 50px;
    margin-left: 195px;
    margin-top: -40px;
    width: 210px;
    }

    .conoceloContainerTrece {
        height: 648px;
    margin-left: 746px;
    margin-top: 630px;
    max-width: 239px;
    min-width: 250px;
    position: absolute;
    transform-origin: 50% 90% 0;
    width: 339px;
    }

    .conoceloContainerTrece .personaje {
        width:100%
    }

    .conoceloContainerTrece .bubbleInfo {
        left: 167px;
    position: absolute;
    top: 0;
    z-index: 9999;
    }

    .conoceloContainerTrece .pEncabezado {
        background-image: url("images/sprites/nombres.png");
    background-position: -225px -112px;
    background-repeat: no-repeat;
    height: 50px;
    margin-left: 40px;
    margin-top: -40px;
    width: 210px;
    }

    .conoceloContainerCatorce {
        height: 561px;
    margin-left: 130px;
    margin-top: 915px;
    max-width: 287px;
    min-width: 250px;
    position: absolute;
    transform-origin: 50% 90% 0;
    width: 387px;
    }

    .conoceloContainerCatorce .personaje {
        width:100%
    }

    .conoceloContainerCatorce .bubbleInfo {
        left: 150px;
    position: absolute;
    top: 0;
    z-index: 9999;
    }

    .conoceloContainerCatorce .pEncabezado {
        background-image: url("images/sprites/nombres.png");
    background-position: -225px -226px;
    background-repeat: no-repeat;
    height: 50px;
    margin-left: 50px;
    margin-top: -40px;
    width: 210px;
    }

    .conoceloContainerQuince {
        height: 548px;
    margin-left: 335px;
    margin-top: 920px;
    max-width: 290px;
    min-width: 250px;
    position: absolute;
    transform-origin: 50% 90% 0;
    width: 390px;
    }

    .conoceloContainerQuince .personaje {
        width:100%
    }

    .conoceloContainerQuince .bubbleInfo {
        left: 100px;
    position: absolute;
    top: 0;
    z-index: 9999;
    }

    .conoceloContainerQuince .pEncabezado {
        background-image: url("images/sprites/nombres.png");
    background-position: -225px -284px;
    background-repeat: no-repeat;
    height: 50px;
    margin-left: 20px;
    margin-top: -40px;
    width: 210px;
    }

    .conoceloContainerDiezyseis {
        height: 493px;
    margin-left: 450px;
    margin-top: 925px;
    max-width: 436px;
    min-width: 250px;
    position: absolute;
    transform-origin: 50% 90% 0;
    width: 536px;
    }

    .conoceloContainerDiezyseis .personaje {
        width:100%
    }

    .conoceloContainerDiezyseis .bubbleInfo {
        left: 250px;
    position: absolute;
    top: 0;
    z-index: 9999;
    }

    .conoceloContainerDiezyseis .pEncabezado {
        background-image: url("images/sprites/nombres.png");
    background-position: -212px -338px;
    background-repeat: no-repeat;
    height: 50px;
    margin-left: 135px;
    margin-top: -40px;
    width: 229px;
    }

    .conoceloContainerDiezysiete {
        height: 647px;
    margin-left: 480px;
    margin-top: 820px;
    max-width: 598px;
    min-width: 250px;
    position: absolute;
    transform-origin: 50% 90% 0;
    width: 698px;
    }

    .conoceloContainerDiezysiete .personaje {
        width:100%
    }

    .conoceloContainerDiezysiete .bubbleInfo {
        left: 330px;
    position: absolute;
    top: 0;
    z-index: 9999;
    }

    .conoceloContainerDiezysiete .pEncabezado {
        background-image: url("images/sprites/nombres.png");
    background-position: -212px -398px;
    background-repeat: no-repeat;
    height: 50px;
    margin-left: 215px;
    margin-top: -40px;
    width: 229px;
    }

    /* Conocelos */
/*
 * Seccion Creditos
 */

.seccionCreditos {
  background-image: url("images/bg/seccionTrece.jpg");
  background-position: center center;
  background-repeat: repeat;
  background-size: 100% auto;
  width: 100%;
}
.creditosDesktop{
	display: block;
}
.creditosMobile{
	display: none;
}
.seccionCreditos img {
  margin: auto;
}
.creditos-container {
  position: relative;
}
.creditos-container-inner > table {
  text-align: center;
}
.creditos-container-inner table {
  width: 100%;
}
.creditos-container-inner table p {
  font-size: 0.8em;
  font-weight: lighter;
  line-height: 25px;
  text-shadow: 1px -1px #000;
  margin: 0px;
}
.creditos-container-inner table p b {
  font-weight: 900;
  line-height: 25px;
  text-shadow: 1px -1px #000;
}

/* Seccion Creditos */ 

	/* Patrocinadores */
.patrocinadores-container .holder {
    height: 68px;
    text-align: center;
}
	/*End Patrocinadores */


}