/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
/*
 * Seccion Logo
 */
.logo {
    background: none repeat scroll 0 0 transparent;
    height: 100px;
    left: 50%;
    top: 5px;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    z-index: 10;
    width: 200px !important
    }

.logo-container {
    margin: auto;
    left: -100px;
    position: relative;
    max-width: 200px !important
    }

/* End Logo */
/*
 * Menu
 */
.menu {
    width: 220px
    }

.menu-container {
    color: #fff;
    height: 75%;
    margin: 70px 5% 0;
    overflow: hidden
    }

.menu-container ul .enlace.trailer {
    list-style: outside none none;
    padding: 50px 0
    }

/* End Menu */
/*
 * Toolbar
 */
.toolbar {
    display: block;
    height: 100px;
    padding: 22px 0 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 240px;
    z-index: 25
    }

.toolbar-container {
    width: 100%;
    height: 100%
    }

.toolbar-container .globo, .toolbar-container-facebook .globo, .toolbar-container-twitter .globo {
    float: left;
    margin-right: 15px;
    width: 50px;
    height: 50px;
    color: #fff
    }

.toolbar-container-facebook {
    position: absolute;
    top: 80px;
    left: -25px;
    display: none
    }

.toolbar-container-twitter {
    position: absolute;
    top: 80px;
    left: 33px;
    display: none
    }

.globo.facebookL {
    background-image: url(images/sprites/icons-btns.png);
    background-position: 300px 0;
    color: #fff;
    display: block;
    height: 44px;
    width: 42px;
    cursor: pointer
    }

.globo.twitterL {
    background-image: url(images/sprites/icons-btns.png);
    background-position: 228px 0;
    color: #fff;
    display: block;
    height: 44px;
    width: 42px;
    cursor: pointer
    }

.globo.instagramL {
    background-image: url(images/sprites/icons-btns.png);
    background-position: 158px 0;
    color: #fff;
    display: block;
    height: 44px;
    width: 42px;
    cursor: pointer
    }

.globo.youtubeL {
    background-image: url(images/sprites/icons-btns.png);
    background-position: 87px 0;
    color: #fff;
    display: block;
    height: 44px;
    width: 42px;
    cursor: pointer
    }

.globo.facebook-l {
    background-image: url(images/sprites/follow-share.png);
    background-position: 185px 0;
    color: #fff;
    display: block;
    height: 40px;
    width: 37px;
    cursor: pointer
    }

.globo.facebook-s {
    background-image: url(images/sprites/follow-share.png);
    background-position: 185px 45px;
    color: #fff;
    display: block;
    height: 40px;
    width: 37px;
    cursor: pointer
    }

.globo.twitter-l {
    background-image: url(images/sprites/follow-share.png);
    background-position: 185px -59px;
    color: #fff;
    display: block;
    height: 40px;
    width: 37px;
    cursor: pointer
    }

.globo.twitter-s {
    background-image: url(images/sprites/follow-share.png);
    background-position: 185px 45px;
    color: #fff;
    display: block;
    height: 40px;
    width: 37px;
    cursor: pointer
    }

/* End Toolbar */
.botonMenu {
    background: none repeat scroll 0 0 #f8000c;
    border: 0 none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    height: 35px;
    left: 25px;
    position: fixed;
    text-align: center;
    text-transform: uppercase;
    top: 25px;
    width: 80px;
    z-index: 20;
    line-height: 35px;
    letter-spacing: 1px;
}
.botonMas {
    background: none repeat scroll 0 0 #f8000c;
    border: 0 none;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    height: 35px;
    letter-spacing: 1px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    width: 126px;
    margin: 20px auto;
}
.botonMasGal  {
    background: none repeat scroll 0 0 #f8000c;
    border: 0 none;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    width: 126px;
    margin: 20px auto;
    letter-spacing: 1px;
}
.regresarConocelos .cerrarInfoBoton {
    background: none repeat scroll 0 0 #f8000c;
    border: 0 none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    margin: 10px auto;
    text-align: center;
    text-transform: uppercase;
    width: 110px;
    z-index: 99;
    letter-spacing: 1px;
}
.botonVerNota {
    background: none repeat scroll 0 0 white;
    border: 1px solid #000048;
    border-radius: 5px;
    box-shadow: 0 1px #000;
    color: #000048;
    font-size: 15px;
    font-weight: lighter;
    height: 35px;
    margin: 20px auto 0;
    text-align: center;
    text-transform: uppercase;
    width: 115px;
    line-height: 35px;
    letter-spacing: 1px;
}
.botonDescargarKit {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0 1px #000;
    color: #fff;
    font-size: 15px;
    font-weight: lighter;
    height: 35px;
    margin: 20px auto;
    text-align: center;
    text-transform: uppercase;
    width: 270px;
    line-height: 35px;
    letter-spacing: 1px;
}
/*
 * Menu
 */
 .menu-container ul {
    padding: 0 15px;
}
.menu-container ul .enlace.trailer {
    list-style: outside none none;
    padding: 70px 0;
}
.menu-container ul .enlace {
    list-style: outside none none;
    padding: 10px 0;
} 
.menu-container ul .enlace a {
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    text-shadow: 1px -1px #000;
    text-transform: uppercase;
    letter-spacing: 1px;
}
/* Menu */ 
/*
 * Seccion de Contenedor de Youtube
 */
.container-fluid.fullscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    z-index: 99;
    background: #000
    }

.logoYoutube {
    height: 10%
    }

.logoYoutube img {
    max-width: 300px;
    min-width: 200px
    }

.youtube {
    height: 70%
    }

.youtubeClose {
    height: 10%
    }

.youtubeExplorar {
    height: 10%
    }

/* End Seccion de Contenedor de Youtube */
/*
 * Info
 */
.infoConocelos img {
    margin: auto;
    max-width: 200px;
}
.infoConocelos{
    height: auto;
}
.infoDetalle {
    height: auto;
    overflow-y: hidden;
} 
.infoDetalle img {
    margin: 60px auto;
    max-width: 300px;
    width: 200px;
}
.regresarConocelos{
    height: auto;
}
.infoDetalle > h1 {
    font-family: "bigotesbold";
    font-size: 3em;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}
.infoDetalle p {
    font-family: "bigotesmedium";
    font-size: 1.2em;
    letter-spacing: 1px;
    text-align: center;
}
/* Info */ 
/* SECIONES */
/*
 * Primera
 */
/*
 * Bienvenida
 */
.seccionBienvenida {
    height: 700px;
    width: 100%;
}

.bienvenida-container-inner {
    margin-top: 140px;
    position: absolute !important;
    width: 100%;
}
.bienvenida-container-inner > h1 {
    font-family: "bigotesbold";
    font-size: 2.8em;
    font-weight: 900;
    letter-spacing: 3px;
    margin: auto;
    padding: 5px 0;
    text-align: center;
    text-shadow: 1px -1px #000;
}
/* Bienvenida */

/* Primera */
/*
 * Noticias
 */
.seccionNoticias .cortina {
    background-image: url("images/bg/cortina.png");
    background-position: center top;
    background-repeat: repeat-x;
    background-size: cover;
    display: table;
    height: 160px;
    margin-top: -20px;
    position: absolute;
    width: 100%;
    z-index: 4;
} 
.noticias-container > h1 {
    font-family: "bigotesbold";
    font-size: 2.8em;
    font-weight: 900;
    letter-spacing: 3px;
    padding: 5px 0;
    text-align: center;
    text-shadow: 1px -1px #000;
    margin-top: 120px;
}
/* Noticias */
/*
 * Sinopsis
 */
 .sinopsis-container > h1 {
    font-family: "bigotesbold";
    font-size: 2.8em;
    font-weight: 900;
    letter-spacing: 3px;
    padding: 5px 0;
    text-align: center;
    text-shadow: 1px -1px #000;
}
.sinopsis-container p {
    font-family: "bigotesmedium";
    font-size: 1.2em;
    font-weight: lighter;
    letter-spacing: 2px;
    line-height: 1.5em;
    margin: 0;
    text-align: center;
    text-shadow: 1px -1px #000;
} 
/* Sinopsis */ 
/*
 * Galerias estaticas
 */
.seccionGaleriaEstaticaParteUno, .seccionGaleriaEstaticaParteDos, .seccionGaleriaEstaticaParteTres {
    height: 90%;
    width: 100%;
} 
/* Galerias estaticas */ 
/*
 * Conocelos
 */
.sceneConocelos {
    display: none
    }

.sceneConocelosTablet {
    display: block
    }

.sceneConocelosMobile {
    display: none
    }

.sceneConocelosTablet img {
    margin: auto;
    display: block;
    max-width: 184px;
    width: 100%;
    cursor: pointer;
    }

.sceneConocelosTablet .separador {
    height: 20px
    }

/* Conocelos */
/*
 * Galeria Slider
 */
.seccionGaleria {
    background-image: url(images/bg/seccionOcho.jpg);
    background-position: center top;
    background-repeat: repeat;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    display: table;
    height: 400px;
    width: 100%
    }

.seccionGaleria .buttonGaleria {
    cursor: pointer;
    margin: 125px auto 0
    }

/* Galeria Slider */
/*
 * Detras Camaras
 */
.seccionDetras {
    background-image: url(images/bg/seccionOnce.jpg);
    background-position: center center;
    background-repeat: repeat;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    width: 100%;
    display: table
    }

.seccionDetras > h1 {
    font-size: 40px;
    font-weight: 900;
    margin-top: 50px;
    padding: 5px 0;
    text-align: center;
    text-shadow: 1px -1px #000
    }

.bloqueImagen img {
    width: 100% !important;
    margin: 5px 2px !important
    }

.seccionDetrasMore {
    background-image: url(images/bg/seccionOnce.jpg);
    background-position: center center;
    background-repeat: repeat;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    width: 100%;
    display: none
    }

.botonMas:hover {
    cursor: pointer
    }

.seccionDetras .img100, .seccionDetrasMore .img100 {
    width: 100% !important;
    margin: 5px 2px
    }

.seccionDetras .img90, .seccionDetrasMore .img90 {
    width: 90% !important;
    margin: 5px 2px
    }

.seccionDetras .img80, .seccionDetrasMore .img80 {
    width: 80% !important;
    margin: 5px 2px
    }

.seccionDetras .img70, .seccionDetrasMore .img70 {
    width: 70% !important;
    margin: 5px 2px
    }

.seccionDetras .img60, .seccionDetrasMore .img60 {
    width: 60% !important;
    margin: 5px 2px
    }

.seccionDetras .img50, .seccionDetrasMore .img50 {
    width: 50% !important;
    margin: 5px 2px
    }

.seccionDetras .img40, .seccionDetrasMore .img40 {
    width: 40% !important;
    margin: 5px 2px
    }

.seccionDetras .img30, .seccionDetrasMore .img30 {
    width: 30% !important;
    margin: 5px 2px
    }

.seccionDetras .img20, .seccionDetrasMore .img20 {
    width: 20% !important;
    margin: 5px 2px
    }

.imgGalDos {
    margin-top: 45px !important
    }

.imgGalTres {
    margin-top: 20px !important
    }

.imgGalCuatro {
    margin-left: auto !important;
    padding-bottom: 20px !important;
    padding-top: 20px !important
    }

.imgGalCinco {
    margin-left: auto !important;
    padding-bottom: 20px !important;
    padding-top: 20px !important
    }

.imgGalSeis {
    margin-left: auto !important;
    padding-bottom: 20px !important;
    padding-top: 20px !important
    }

.imgGalNueve {
    margin-left: auto !important;
    padding-bottom: 20px !important;
    padding-top: 20px !important
    }

.imgGalDiez {
    margin-left: auto !important;
    padding-bottom: 20px !important;
    padding-top: 20px !important
    }

.imgGalOnce {
    margin-left: auto !important;
    padding-bottom: 20px !important;
    padding-top: 20px !important
    }

/* Detras Camaras */
/*
 * Premios
 */
.premios-container .campana-container {
    display: block
    }
.premios-container h1 {
    font-family: "bigotesbold";
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 3px;
    margin-top: 20px;
    padding: 5px 0;
    text-align: center;
    text-shadow: 1px -1px #000;
}    
.premios-container h4 {
    font-family: "bigotes_corsivaitalic";
    font-size: 1.8em;
    font-weight: 900;
    letter-spacing: 1px;
    margin-top: 20px;
    padding: 5px 0;
    text-align: center;
    text-shadow: 1px -1px #000;
}
/* Premios */
/*
 * Seccion Creditos
 */
.seccionCreditos {
    background-image: url(images/bg/seccionTrece.jpg);
    background-position: center center;
    background-repeat: repeat;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    width: 100%
    }

.creditosDesktop {
    display: block
    }

.creditosMobile {
    display: none
    }

.seccionCreditos img {
    margin: auto
    }

.creditos-container {
    position: relative
    }

.creditos-container-inner > table {
    text-align: center
    }

.creditos-container-inner table {
    margin: auto;
    text-align: center;
    width: 100%
    }

.creditos-container-inner table p {
    font-family: "bigotesmedium";
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 2px;
    line-height: 25px;
    margin: 0;
    text-shadow: 1px -1px #000
    }

.creditos-container-inner table p b {
    font-family: "bigotesmedium_condensed";
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 25px;
    text-shadow: 1px -1px #000
    }

/* Seccion Creditos */
/* Patrocinadores */
.patrocinadores-container img {
    margin: auto;
    max-height: auto !important;
    height: auto !important;
    max-width: 100%
    }

/*End Patrocinadores */

}