/*
 * Hoja de estilo para la página inicio inicio.html
 */

/* Se creó un css para la página inicio para evitar cargar más estilos de los que se utiliza y mejorar el performance de la página */ 
/* El estilo por default es para un dispositivo móvil así que los mediaqueries sirven para darle formato a los dispositivos mas grandes tales como tabletas y computadoras de escritorio */

/*
 * HTML y Body
 */

html, body {
	line-height: 1;
	height: 100%;
	position: relative;
}

body {
	background-repeat: no-repeat;
	color: #fff;
	margin: 0;
	padding: 0;
	font-family: 'bigotesmedium';
}
.row{
	margin:0px!important;
	padding:0px!important;
}
/*
 * Seccion del Logo 
 */
.logo {
    background: none repeat scroll 0 0 transparent;
    height: 100px;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.logo-container {
    margin: auto;
    max-width: 150px !important;
}
.logo span {
	color: #fff;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	width: 100%;
	display: inline-block;
}
/* End Seccion del Logo */

/*
 * Boton Menu
 */
.botonMenu {
    background: none repeat scroll 0 0 red;
    border: 0 none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    height: 28px;
    left: 12px;
    line-height: 2em;
    position: fixed;
    text-align: center;
    text-transform: uppercase;
    top: 12px;
    width: 60px;
    z-index: 20;
}
.menu {
    background: none repeat scroll 0 0 #000;
    display: block;
    height: 100%;
    opacity: 0.75;
    position: fixed;
    top: 0;
    width: 50%;
    z-index: 15;
}
.menu.hide {
  display: none;
}
.menu-container {
    color: #fff;
    height: 75%;
    margin: 70px 5% 0;
    overflow-x: hidden;
    overflow-y: scroll;
}
.menu-container ul {
    padding: 0 10px;
}
.menu-container ul .enlace.trailer {
  padding: 5px 0;
  list-style: outside none none;
}
.menu-container ul .enlace {
    list-style: outside none none;
    padding: 5px 0;
}
.menu-container ul .enlace a {
    color: #fff;
    cursor: pointer;
    font-size: 0.8em;
    text-decoration: none;
    text-shadow: 1px -1px #000;
    text-transform: uppercase;
}
.menu-container ul .enlace a:hover, .menu-container ul .enlace a:active, .menu-container ul .enlace a:focus {
  color: #fff;
}
/* End Menu */


/*
 * Parte del contenedor de Youtube
 */

.container-fluid.fullscreen {
	display: none;
}
.container-fluid.fullscreen {
	position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    z-index: 99;
    background:#000;
}
/* End Contenedor de Youtube */

/*
 * Seccion de Youtube
 */

.logoYoutube{
	height: 10%;
} 
.logoYoutube img{
	max-width: 150px;
	min-width: 100px;
	margin:auto;
}
.youtube {
	background: none repeat scroll 0 0 #000;
	height: 70%;
	top: 0;
	z-index: 9999;
}
.youtubeClose {
	height: 10%;
}
.youtubeClose .cerrarBoton {
	color: #fff;
	cursor: pointer;
	height: 46px;
	position: absolute;
	right: 0;
	top: 100%;
	width: 45px;
	z-index: 99999;
}
.youtubeExplorar{
	height: 10%;
}
.youtubeExplorar .explorarSitioBoton {
	background: none repeat scroll 0 0 red;
	border: 0 none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	height: 30px;
	line-height: 32px;
	margin: auto;
	text-align: center;
	text-transform: uppercase;
	width: 170px;
	z-index: 99;
}
/* Seccion de Youtube */

/*
 * Parte del contenedor de Descripcion de Conocelos
 */

.container-fluid.fullscreen.info {
	display: none;
}
.container-fluid.fullscreen.info {
	position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    z-index: 99;
    background:#000;
}

.infoConocelos{
	height: 10%;
} 
.infoConocelos img{
	max-width: 150px;
	min-width: 100px;
	margin:auto;
}

.infoDetalle{
	height: 80%;
}

.infoDetalle > h1 {
    text-align: center;
    font-size: 2em;
}
.infoDetalle img{
	margin: auto;
}
.infoDetalle p{
	text-align: justify;
}

.regresarConocelos{
	height: 10%;
}
.regresarConocelos .cerrarInfoBoton {
	background: none repeat scroll 0 0 red;
	border: 0 none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	height: 30px;
	line-height: 32px;
	margin: auto;
	text-align: center;
	text-transform: uppercase;
	width: 170px;
	z-index: 99;
}

/* End Contenedor de Descripcion de Conocelos */

/*
 * Toolbar
 */
.toolbar {
	display: none;
}
/* End Toolbar */
/*
 * Primera
 */
.seccionBienvenida {
  background-image: url("images/bg/seccionUno.jpg");
    background-position: center center;
    background-repeat: repeat;
    background-size: auto 100%;
    display: table;
    height: 500px;
    width: 100%;
}

.bienvenida-container {
    position: relative;
}

.bienvenida-container-inner {
    margin-top: 50px;
    position: absolute !important;
}

.seccionBienvenida img {
  margin: auto;
}

.bienvenida-container-inner > h1 {
	font-weight: 900;
    padding: 5px 0;
    text-align: center;
    text-shadow: 1px -1px #000;
} 
/* Primera */ 
/*
 * Noticias
 */
.seccionNoticias {
  background-image: url("images/bg/seccionDos.jpg");
  background-position: center center;
  background-repeat: repeat;
  background-size: 100% auto;
  display: table;
  width: 100%;
}
.seccionNoticias .noticias-container{
  margin: 0;
    padding: 0;
  text-align: center;
  margin-top: 40px;
}
.noticias-container .col-xs-12.col-sm-4.col-md-4.col-lg-4 {
    margin: 0;
    padding: 0;
}
.seccionNoticias .noticias-container iframe {
    width: 80%!important;
    background: #fff;
    border-radius: 5px;
}
.noticias-container> h1 {
  	font-weight: 900;
    padding: 5px 0;
    text-align: center;
    text-shadow: 1px -1px #000;
}
.noticias-container table {
  width: 100%;
  text-align: center;
}
/* Noticias */ 

/*
 * Sinopsis
 */
.seccionSinopsis {
  background-image: url("images/bg/seccionTres.jpg");
  background-position: center center;
  background-repeat: repeat;
  background-size: 100% auto;
  width: 100%;
  display: table;
}

.sinopsis-container {
    margin: 0 0 20px 0;
  text-align: center;
}
.sinopsis-container> h1 {
  font-size: 1.2em;
    font-weight: 900;
    padding: 5px 0;
    text-align: center;
    text-shadow: 1px -1px #000;
}

.sinopsis-container p {
  font-size: 0.9em;
    font-weight: lighter;
    line-height: 1.2em;
    text-align: center;
    text-shadow: 1px -1px #000;
}

.sinopsis-container p b {
  font-size: 2em;
    font-weight: 900;
    line-height: 1.2em;
} 
/* Sinopsis */
/*
 * Conocelos
 */
.seccionConocelos {
  background-image: url("images/bg/verde.jpg");
  background-position: center center;
  background-repeat: repeat;
  background-size: auto;
  width: 100%;
  display: table;
}
.sceneConocelosTablet{
        display:none;
    } 
    .sceneConocelosMobile{
  display:block;
}
.sceneConocelosMobile img{
  margin: auto;
    display: block;
    max-width: 184px;
    width: 100%;
} 
.sceneConocelosMobile .separador{
  height: 20px;
}
.sceneConocelos{
	display: none;
}
.seccionConocelos> h1 {
  font-weight: 900;
    margin-top: 20px;
    padding: 5px 0;
    text-align: center;
    text-shadow: 1px -1px #000;
}

.bubbleInfo {
    background: none repeat scroll 0 0 transparent;
    border: 2px solid #fff;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    height: 40px;
    line-height: 1.25em;
    text-align: center;
    width: 40px;
    font-size: 2em;
}

.seccionConocelosMore {
  background-image: url("images/bg/verde.jpg");
  background-position: center center;
  background-repeat: repeat;
  background-size: auto;
  width: 100%;
  display:none;
} 
/* Conocelos */ 
/*
 * Galerias Estaticas
 */
.seccionGaleriaEstaticaParteUno {
  background-image: url("images/bg/seccionCuatro.jpg");
  background-position: center center;
    background-repeat: repeat;
    background-size: auto 100%;
    width: 100%;
    display: table;
    height: 300px;
}

.seccionGaleriaEstaticaParteDos {
  background-image: url("images/bg/seccionSeis.jpg");
  background-position: center center;
    background-repeat: repeat;
    background-size: auto 100%;
    width: 100%;
    display: table;
    height: 300px;
}

.seccionGaleriaEstaticaParteTres {
    background-image: url("images/bg/seccionSiete.jpg");
    background-position: center center;
    background-repeat: repeat;
    background-size: auto 100%;
    width: 100%;
    display: table;
    height: 300px;
}

/* Galerias Estaticas */
/*
 * Galeria Slider
 */
.seccionGaleria {
  background-image: url("images/bg/seccionOcho.jpg");
  background-position: center center;
    background-repeat: repeat;
    background-size: auto 100%;
    width: 100%;
    display: table;
    height: 300px;
}
.seccionGaleria .col-sm-12.col-md-12{
	margin: 0px!important;
	padding: 0px!important;
}
.seccionGaleria .buttonGaleria {
    margin: 75px auto 0;
    cursor: pointer;
}
 /* Galeria Slider */

/*
 * Detras Camaras
 */
.seccionDetras {
  background-image: url("images/bg/seccionOnce.jpg");
  background-position: center center;
  background-repeat: repeat;
  background-size: 100% auto;
  width: 100%;
  display: table;
}
.seccionDetras> h1 {
font-weight: 900;
    margin-top: 20px;
    padding: 5px 0;
    text-align: center;
    text-shadow: 1px -1px #000;
}
.bloqueImagen img {
    width: 100% !important;
    margin: 5px 2px !important;
}

.seccionDetrasMore {
  background-image: url("images/bg/seccionOnce.jpg");
  background-position: center center;
  background-repeat: repeat;
  background-size: 100% auto;
  width: 100%;
  display: none;
}
.botonMas {
  	background: none repeat scroll 0 0 red;
    border: 0 none;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    height: 30px;
    line-height: 2em;
    margin: 20px auto;
    text-align: center;
    text-transform: uppercase;
    width: 126px;
}
.botonMas:hover{
  cursor: pointer;
}
/* Detras Camaras */

/* 
 * Premios
 */
.seccionPremios {
  background-image: url("images/bg/seccionDoce.jpg");
  background-position: center center;
  background-repeat: repeat;
  background-size: 100% auto;
  width: 100%;
}
.premios-container {
  margin: auto;
  padding: 20px 0 0;
  text-align: center;
}
.premios-container .campana-container {
  display: none;
}
.premios-container .campana {
  background-image: url("images/sprites/big-btns.png");
  background-position: -89px -500px;
  display: block;
  height: 165px;
  width: 150px;
  margin: auto;
}
.premios-container table {
  width: 100%;
}
.premios-container table td {
  vertical-align: middle;
}
.premios-container h1 {
  font-size: 28px;
  font-weight: 900;
  margin-top: 20px;
  padding: 5px 0;
  text-align: center;
  text-shadow: 1px -1px #000;
}
.premios-container h2 {
  font-size: 32px;
  font-weight: lighter;
  margin-top: 10px;
  padding: 5px 0;
  text-align: center;
  text-shadow: 1px -1px #000;
}
.botonVerNota {
  background: none repeat scroll 0 0 white;
  border: 1px solid #000048;
  border-radius: 5px;
  color: #000048;
  font-size: 14px;
  font-weight: lighter;
  height: 30px;
  margin: 20px auto 0;
  text-align: center;
  text-transform: uppercase;
  width: 126px;
}
.botonVerNota:hover{
  cursor:pointer;
}
.botonDescargarKit {
  background: none repeat scroll 0 0 transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  font-weight: lighter;
  height: 30px;
  margin: 20px auto;
  text-align: center;
  text-transform: uppercase;
  width: 240px;
}
.botonDescargarKit:hover{
  cursor:pointer;
}
/* Premios */

/*
 * Seccion Creditos
 */

.seccionCreditos {
  background-image: url("images/bg/seccionTrece.jpg");
  background-position: center center;
  background-repeat: repeat;
  background-size: auto 100%;
  width: 100%;
}
.creditosDesktop{
	display: none;
}
.creditosMobile{
	display: block;
}
.seccionCreditos img {
  margin: auto;
}
.creditos-container-inner {
    margin: 20px 0;
  position: relative;
}
.creditos-container-inner > table {
  text-align: center;
}
.creditos-container-inner table {
  width: 100%;
}
.creditos-container-inner table p {
    font-size: 0.9em;
    font-weight: lighter;
    line-height: 40px;
    margin: 0;
    text-shadow: 1px -1px #000;
}
.creditos-container-inner table p b {
  font-weight: 900;
  line-height: 25px;
  text-shadow: 1px -1px #000;
}

/* Seccion Creditos */ 

/*
 * Seccion Patrocinadores
 */
.patrocinadores {
  	background-image: url("images/bg/footer.jpg");
    background-position: center center;
    background-repeat: repeat;
    background-size: auto auto;
    display: table;
    width: 100%;
}
.patrocinadores-container img {
    margin: auto;
    max-height: 100%;
    height: 50px;
    max-width: auto!important;
}
/* Patrocinadores */



/*
 * Font Style
 */

@font-face {
  font-family: 'bigotesbold';
    src: url('font/webfont/Bigotes-Bold-webfont.eot');
    src: url('font/webfont/Bigotes-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/webfont/Bigotes-Bold-webfont.woff2') format('woff2'),
         url('font/webfont/Bigotes-Bold-webfont.woff') format('woff'),
         url('font/webfont/Bigotes-Bold-webfont.ttf') format('truetype'),
         url('font/webfont/Bigotes-Bold-webfont.svg#bigotesbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'bigotesdemibold';
    src: url('font/webfont/Bigotes-DemiBold-webfont.eot');
    src: url('font/webfont/Bigotes-DemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/webfont/Bigotes-DemiBold-webfont.woff2') format('woff2'),
         url('font/webfont/Bigotes-DemiBold-webfont.woff') format('woff'),
         url('font/webfont/Bigotes-DemiBold-webfont.ttf') format('truetype'),
         url('font/webfont/Bigotes-DemiBold-webfont.svg#bigotesdemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'bigotesheavy';
    src: url('font/webfont/Bigotes-Heavy-webfont.eot');
    src: url('font/webfont/Bigotes-Heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/webfont/Bigotes-Heavy-webfont.woff2') format('woff2'),
         url('font/webfont/Bigotes-Heavy-webfont.woff') format('woff'),
         url('font/webfont/Bigotes-Heavy-webfont.ttf') format('truetype'),
         url('font/webfont/Bigotes-Heavy-webfont.svg#bigotesheavy') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'bigotesmedium';
    src: url('font/webfont/Bigotes-Medium-webfont.eot');
    src: url('font/webfont/Bigotes-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/webfont/Bigotes-Medium-webfont.woff2') format('woff2'),
         url('font/webfont/Bigotes-Medium-webfont.woff') format('woff'),
         url('font/webfont/Bigotes-Medium-webfont.ttf') format('truetype'),
         url('font/webfont/Bigotes-Medium-webfont.svg#bigotesmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'bigotes_corsivaitalic';
    src: url('font/webfont-curs/BigotesCorsiva-Italic-webfont.eot');
    src: url('font/webfont-curs/BigotesCorsiva-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/webfont-curs/BigotesCorsiva-Italic-webfont.woff2') format('woff2'),
         url('font/webfont-curs/BigotesCorsiva-Italic-webfont.woff') format('woff'),
         url('font/webfont-curs/BigotesCorsiva-Italic-webfont.ttf') format('truetype'),
         url('font/webfont-curs/BigotesCorsiva-Italic-webfont.svg#bigotes_corsivaitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* End Font Styles */