/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
/*
 * Seccion Logo
 */
.logo {
    background: none repeat scroll 0 0 transparent;
    height: 100px;
    left: 50%;
    top: 5px;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    z-index: 10;
    width: 200px !important
    }

.logo-container {
    margin: auto;
    left: -100px;
    position: relative;
    max-width: 200px !important
    }

/* End Logo */
/*
 * Menu
 */
.menu {
    width: 220px
    }

.menu-container {
    color: #fff;
    height: 75%;
    margin: 70px 5% 0;
    overflow: hidden
    }

.menu-container ul .enlace.trailer {
    list-style: outside none none;
    padding: 50px 0
    }

/* End Menu */
/*
 * Toolbar
 */
.toolbar {
    display: block;
    height: 100px;
    padding: 22px 0 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 240px;
    z-index: 25
    }

.toolbar-container {
    width: 100%;
    height: 100%
    }

.toolbar-container .globo, .toolbar-container-facebook .globo, .toolbar-container-twitter .globo {
    float: left;
    margin-right: 15px;
    width: 50px;
    height: 50px;
    color: #fff
    }

.toolbar-container-facebook {
    position: absolute;
    top: 80px;
    left: -25px;
    display: none
    }

.toolbar-container-twitter {
    position: absolute;
    top: 80px;
    left: 33px;
    display: none
    }

.globo.facebookL {
    background-image: url(images/sprites/icons-btns.png);
    background-position: 300px 0;
    color: #fff;
    display: block;
    height: 44px;
    width: 42px;
    cursor: pointer
    }

.globo.twitterL {
    background-image: url(images/sprites/icons-btns.png);
    background-position: 228px 0;
    color: #fff;
    display: block;
    height: 44px;
    width: 42px;
    cursor: pointer
    }

.globo.instagramL {
    background-image: url(images/sprites/icons-btns.png);
    background-position: 158px 0;
    color: #fff;
    display: block;
    height: 44px;
    width: 42px;
    cursor: pointer
    }

.globo.youtubeL {
    background-image: url(images/sprites/icons-btns.png);
    background-position: 87px 0;
    color: #fff;
    display: block;
    height: 44px;
    width: 42px;
    cursor: pointer
    }

.globo.facebook-l {
    background-image: url(images/sprites/follow-share.png);
    background-position: 185px 0;
    color: #fff;
    display: block;
    height: 40px;
    width: 37px;
    cursor: pointer
    }

.globo.facebook-s {
    background-image: url(images/sprites/follow-share.png);
    background-position: 185px 45px;
    color: #fff;
    display: block;
    height: 40px;
    width: 37px;
    cursor: pointer
    }

.globo.twitter-l {
    background-image: url(images/sprites/follow-share.png);
    background-position: 185px -59px;
    color: #fff;
    display: block;
    height: 40px;
    width: 37px;
    cursor: pointer
    }

.globo.twitter-s {
    background-image: url(images/sprites/follow-share.png);
    background-position: 185px 45px;
    color: #fff;
    display: block;
    height: 40px;
    width: 37px;
    cursor: pointer
    }

/* End Toolbar */
.botonMenu {
    position: fixed;
    top: 25px;
    left: 25px;

    border: 0 none;
    font-family: 'bigotesmedium';
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 8px 0;
    text-align: center;
    text-transform: uppercase;
    width: 92px;
    z-index: 99;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; /* border radius */
    
    background-color: #fb0707;
background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDE2OSA0MiIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjOTcwNTA1IiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIzJSIgc3RvcC1jb2xvcj0iIzk3MDUwNSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmIwNzA3IiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSI4NSUiIHN0b3AtY29sb3I9IiNmYjA3MDciIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9Ijk3JSIgc3RvcC1jb2xvcj0iI2ZkNjU2NSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZkNjU2NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTY5IiBoZWlnaHQ9IjQyIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=);
background-image: -moz-linear-gradient(bottom, #970505 0%, #970505 3%, #fb0707 49.51%, #fb0707 85.01%, #fd6565 97%, #fd6565 100%);
background-image: -o-linear-gradient(bottom, #970505 0%, #970505 3%, #fb0707 49.51%, #fb0707 85.01%, #fd6565 97%, #fd6565 100%);
background-image: -webkit-linear-gradient(bottom, #970505 0%, #970505 3%, #fb0707 49.51%, #fb0707 85.01%, #fd6565 97%, #fd6565 100%);
background-image: linear-gradient(bottom, #970505 0%, #970505 3%, #fb0707 49.51%, #fb0707 85.01%, #fd6565 97%, #fd6565 100%);
    transition: all 0.2s linear;
}
.botonMas {
    width: 150px;
    margin: 20px auto;
    
    border: 0 none;
    font-family: 'bigotesmedium';
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 8px 0;
    text-align: center;
    text-transform: uppercase;
    z-index: 99;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; /* border radius */
    background-color: #fb0707;
background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDE2OSA0MiIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjOTcwNTA1IiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIzJSIgc3RvcC1jb2xvcj0iIzk3MDUwNSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmIwNzA3IiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSI4NSUiIHN0b3AtY29sb3I9IiNmYjA3MDciIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9Ijk3JSIgc3RvcC1jb2xvcj0iI2ZkNjU2NSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZkNjU2NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTY5IiBoZWlnaHQ9IjQyIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=);
background-image: -moz-linear-gradient(bottom, #970505 0%, #970505 3%, #fb0707 49.51%, #fb0707 85.01%, #fd6565 97%, #fd6565 100%);
background-image: -o-linear-gradient(bottom, #970505 0%, #970505 3%, #fb0707 49.51%, #fb0707 85.01%, #fd6565 97%, #fd6565 100%);
background-image: -webkit-linear-gradient(bottom, #970505 0%, #970505 3%, #fb0707 49.51%, #fb0707 85.01%, #fd6565 97%, #fd6565 100%);
background-image: linear-gradient(bottom, #970505 0%, #970505 3%, #fb0707 49.51%, #fb0707 85.01%, #fd6565 97%, #fd6565 100%);
    transition: all 0.2s linear;
}
.botonMasGal  {
    margin: 40px auto;
    width: 150px;

    border: 0 none;
    font-family: 'bigotesmedium';
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 8px 0;
    text-align: center;
    text-transform: uppercase;
    z-index: 99;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; /* border radius */
    background-color: #fb0707;
background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDE2OSA0MiIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjOTcwNTA1IiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIzJSIgc3RvcC1jb2xvcj0iIzk3MDUwNSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmIwNzA3IiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSI4NSUiIHN0b3AtY29sb3I9IiNmYjA3MDciIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9Ijk3JSIgc3RvcC1jb2xvcj0iI2ZkNjU2NSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZkNjU2NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTY5IiBoZWlnaHQ9IjQyIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=);
background-image: -moz-linear-gradient(bottom, #970505 0%, #970505 3%, #fb0707 49.51%, #fb0707 85.01%, #fd6565 97%, #fd6565 100%);
background-image: -o-linear-gradient(bottom, #970505 0%, #970505 3%, #fb0707 49.51%, #fb0707 85.01%, #fd6565 97%, #fd6565 100%);
background-image: -webkit-linear-gradient(bottom, #970505 0%, #970505 3%, #fb0707 49.51%, #fb0707 85.01%, #fd6565 97%, #fd6565 100%);
background-image: linear-gradient(bottom, #970505 0%, #970505 3%, #fb0707 49.51%, #fb0707 85.01%, #fd6565 97%, #fd6565 100%);
    transition: all 0.2s linear;
}
.regresarConocelos .cerrarInfoBoton {
    margin: 20px auto;
    
    border: 0 none;
    font-family: 'bigotesmedium';
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 8px 0;
    text-align: center;
    text-transform: uppercase;
    z-index: 99;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; /* border radius */
    background-color: #fb0707;
background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDE2OSA0MiIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PGxpbmVhckdyYWRpZW50IGlkPSJoYXQwIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjUwJSIgeTE9IjEwMCUiIHgyPSI1MCUiIHkyPSItMS40MjEwODU0NzE1MjAyZS0xNCUiPgo8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjOTcwNTA1IiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSIzJSIgc3RvcC1jb2xvcj0iIzk3MDUwNSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZmIwNzA3IiBzdG9wLW9wYWNpdHk9IjEiLz4KPHN0b3Agb2Zmc2V0PSI4NSUiIHN0b3AtY29sb3I9IiNmYjA3MDciIHN0b3Atb3BhY2l0eT0iMSIvPgo8c3RvcCBvZmZzZXQ9Ijk3JSIgc3RvcC1jb2xvcj0iI2ZkNjU2NSIgc3RvcC1vcGFjaXR5PSIxIi8+CjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZkNjU2NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgIDwvbGluZWFyR3JhZGllbnQ+Cgo8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTY5IiBoZWlnaHQ9IjQyIiBmaWxsPSJ1cmwoI2hhdDApIiAvPgo8L3N2Zz4=);
background-image: -moz-linear-gradient(bottom, #970505 0%, #970505 3%, #fb0707 49.51%, #fb0707 85.01%, #fd6565 97%, #fd6565 100%);
background-image: -o-linear-gradient(bottom, #970505 0%, #970505 3%, #fb0707 49.51%, #fb0707 85.01%, #fd6565 97%, #fd6565 100%);
background-image: -webkit-linear-gradient(bottom, #970505 0%, #970505 3%, #fb0707 49.51%, #fb0707 85.01%, #fd6565 97%, #fd6565 100%);
background-image: linear-gradient(bottom, #970505 0%, #970505 3%, #fb0707 49.51%, #fb0707 85.01%, #fd6565 97%, #fd6565 100%);
    transition: all 0.2s linear;
}
.botonVerNota {
    width: 160px;
    height: 37px;
    
    border: 0 none;
    font-family: 'bigotesmedium';
    color: #003d7a;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 8px 0;
    text-align: center;
    text-transform: uppercase;
        
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    background-color: #fff;
    -moz-box-shadow: 0 2px 3px rgba(0,0,0,.75);
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,.75);
    box-shadow: 0 2px 3px rgba(0,0,0,.75);
}
.botonDescargarKit {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0 1px #000;
    color: #fff;
    font-size: 15px;
    font-weight: lighter;
    height: 35px;
    margin: 20px auto;
    text-align: center;
    text-transform: uppercase;
    width: 270px;
    line-height: 35px;
    letter-spacing: 1px;
}
/*
 * Menu
 */
.menu-container ul {
    padding: 0 15px
    }

.menu-container ul .enlace.trailer {
    list-style: outside none none;
    padding: 70px 0
    }

.menu-container ul .enlace {
    list-style: outside none none;
    padding: 10px 0
    }

.menu-container ul .enlace a {
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    text-shadow: 0 2px 3px rgba(0,0,0,.9);
    text-transform: uppercase;
    letter-spacing: 1px
    }

/* Menu */
/*
 * Seccion de Contenedor de Youtube
 */
.container-fluid.fullscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    z-index: 99;
    background: #000
    }

.logoYoutube {
    height: 10%
    }

.logoYoutube img {
    max-width: 300px;
    min-width: 200px
    }

.youtube {
    height: 70%
    }

.youtubeClose {
    height: 10%
    }

.youtubeExplorar {
    height: 10%
    }

/* End Seccion de Contenedor de Youtube */
/*
 * Info
 */
.infoConocelos img {
    margin: auto;
    max-width: 200px
    }

.infoConocelos {
    height: auto
    }

.infoDetalle {
    height: auto;
    overflow-y: hidden
    }

.infoDetalle img {
    margin: 60px auto;
    max-width: 300px;
    width: 200px
    }

.regresarConocelos {
    height: auto
    }

.infoDetalle > h1 {
    font-family: "bigotesbold";
    font-size: 3em;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase
    }

.infoDetalle p {
    font-family: "bigotesmedium";
    font-size: 1.2em;
    letter-spacing: 1px;
    text-align: center
    }

/* Info */
/* SECIONES */
/*
 * Primera
 */
/*
 * Bienvenida
 */
.seccionBienvenida {
    height: 700px;
    width: 100%;
    background-size: cover;
    }

.bienvenida-container-inner {
    margin-top: 140px;
    position: absolute !important;
    width: 100%
    }

.bienvenida-container-inner > h1 {
    font-family: "bigotesbold";
    font-size: 2.8em;
    font-weight: 900;
    letter-spacing: 3px;
    margin: auto;
    padding: 5px 0;
    text-align: center;
    text-shadow: 1px -1px #000
    }

/* Bienvenida */
/* Primera */
/*
 * Noticias
 */
.seccionNoticias .cortina {
    background-image: url(images/bg/cortina.png);
    background-position: center top;
    background-repeat: repeat-x;
    -webkit-background-size: cover;
    background-size: cover;
    display: table;
    height: 160px;
    margin-top: -20px;
    position: absolute;
    width: 100%;
    z-index: 4
    }

.noticias-container > h1 {
    font-family: "bigotesbold";
    font-size: 2.8em;
    font-weight: 900;
    letter-spacing: 3px;
    padding: 5px 0;
    text-align: center;
    text-shadow: 0 2px 3px rgba(0,0,0,.9);
    margin-top: 120px
    }

/* Noticias */
/*
 * Sinopsis
 */
.sinopsis-container > h1 {
    font-family: "bigotesbold";
    font-size: 2.8em;
    font-weight: 900;
    letter-spacing: 3px;
    padding: 5px 0;
    text-align: center;
    text-shadow: 1px -1px #000
    }

.sinopsis-container p {
    font-family: "bigotesmedium";
    font-size: 1.2em;
    font-weight: lighter;
    letter-spacing: 2px;
    line-height: 1.5em;
    margin: 0;
    text-align: center;
    text-shadow: 1px -1px #000
    }

/* Sinopsis */
/*
 * Galerias estaticas
 */
.seccionGaleriaEstaticaParteUno, .seccionGaleriaEstaticaParteDos, .seccionGaleriaEstaticaParteTres {
    height: 60%;
    width: 100%
    }

/* Galerias estaticas */
/*
 * Conocelos
 */
.sceneConocelos {
    display: none
    }

.sceneConocelosTablet {
    display: block
    }

.sceneConocelosMobile {
    display: none
    }

.sceneConocelosTablet img {
    margin: auto;
    display: block;
    max-width: 184px;
    width: 100%;
    cursor: pointer
    }

.sceneConocelosTablet .separador {
    height: 20px
    }

/* Conocelos */
/*
 * Galeria Slider
 */
.seccionGaleria {
    background-image: url(images/bg/seccionOcho.jpg);
    background-position: center top;
    background-repeat: repeat;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    display: table;
    height: 400px;
    width: 100%
    }

.seccionGaleria .buttonGaleria {
    cursor: pointer;
    margin: 125px auto 0
    }

/* Galeria Slider */
/*
 * Detras Camaras
 */
.seccionDetras {
    background-image: url(images/bg/seccionOnce.jpg);
    background-position: center center;
    background-repeat: repeat;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    width: 100%;
    display: table
    }
.marginBlockLeft{
    padding:0 26px 26px 0!important;
}  
.seccionDetras > h1 {
    font-size: 40px;
    font-weight: 900;
    margin-top: 50px;
    padding: 5px 0;
    text-align: center;
    text-shadow: 1px -1px #000
    }

.bloqueImagen img {
    width: 100% !important;
    }

.seccionDetrasMore {
    background-image: url(images/bg/seccionOnce.jpg);
    background-position: center center;
    background-repeat: repeat;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    width: 100%;
    display: none
    }

.botonMas:hover {
    cursor: pointer
    }

.seccionDetras .img100, .seccionDetrasMore .img100 {
    width: 100% !important;
    }

.seccionDetras .img90, .seccionDetrasMore .img90 {
    width: 90% !important;
    }

.seccionDetras .img80, .seccionDetrasMore .img80 {
    width: 80% !important;
    }

.seccionDetras .img70, .seccionDetrasMore .img70 {
    width: 70% !important;
    }

.seccionDetras .img60, .seccionDetrasMore .img60 {
    width: 60% !important;
    }

.seccionDetras .img50, .seccionDetrasMore .img50 {
    width: 50% !important;
    }

.seccionDetras .img40, .seccionDetrasMore .img40 {
    width: 40% !important;
    }

.seccionDetras .img30, .seccionDetrasMore .img30 {
    width: 30% !important;
    }

.seccionDetras .img20, .seccionDetrasMore .img20 {
    width: 20% !important;
    }

.imgGalDos {
    margin-top: 45px !important
    }

.imgGalTres {
    margin-top: 26px !important
    }

.imgGalCuatro, .imgGalNueve {
    margin:28px 0 0 auto!important;
    }

.imgGalSiete {
    margin:28px auto 0 0!important;
    }

.imgGalCinco, .imgGalDiez  {
    margin:26px 0 0 auto!important;
    }

.imgGalSeis, .imgGalOnce {
    margin:26px 0 0 auto!important;
    }

.imgGalOcho {
    margin:26px auto 0 0 !important
    }

/* Detras Camaras */
/*
 * Premios
 */
.premios-container .campana-container {
    display: block
    }

.premios-container h1 {
    font-family: "bigotesbold";
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 3px;
    margin-top: 20px;
    padding: 5px 0;
    text-align: center;
    text-shadow: 1px -1px #000
    }

.premios-container h4 {
    font-family: "bigotes_corsivaitalic";
    font-size: 1.8em;
    font-weight: 900;
    letter-spacing: 1px;
    margin-top: 20px;
    padding: 5px 0;
    text-align: center;
    text-shadow: 1px -1px #000
    }

/* Premios */
/*
 * Seccion Creditos
 */
.seccionCreditos {
    background-image: url(images/bg/seccionTrece.jpg);
    background-position: center center;
    background-repeat: repeat;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    width: 100%
    }

.creditosDesktop {
    display: block
    }

.creditosMobile {
    display: none
    }

.seccionCreditos img {
    margin: auto
    }

.creditos-container {
    position: relative
    }

.creditos-container-inner > table {
    text-align: center
    }

.creditos-container-inner table {
    margin: auto;
    text-align: center;
    width: 100%
    }

.creditos-container-inner table p {
    font-family: "bigotesmedium";
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 2px;
    line-height: 25px;
    margin: 0;
    text-shadow: 1px -1px #000
    }

.creditos-container-inner table p b {
    font-family: "bigotesmedium_condensed";
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 25px;
    text-shadow: 1px -1px #000
    }

/* Seccion Creditos */
/* Patrocinadores */
.patrocinadores-container img {
    margin: auto;
    max-height: auto !important;
    height: auto !important;
    max-width: 100%
    }

/*End Patrocinadores */
}