/*
 * Hoja de estilo para la página principal index.html
 */

/* Se creó un css para la página principal para evitar cargar más estilos de los que se utiliza y mejorar el performance de la página */ 
/* El estilo por default es para un dispositivo móvil así que los mediaqueries sirven para darle formato a los dispositivos mas grandes tales como tabletas y computadoras de escritorio */

/*
 * HTML y Body
 */

html, body {
	line-height: 1;
	height: 100%;
	position: relative;
}

body {
	background-repeat: no-repeat;
	color: #fff;
	margin: 0;
	padding: 0;
	font-family: 'bigotesmedium';
}

/*
 * Parte del contenedor de Youtube
 */

.container-fluid.fullscreen {
	display: none;
}
.container-fluid.fullscreen {
	position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    z-index: 99;
    background:#000;
}
/* End Contenedor de Youtube */

/*
 * Seccion de Youtube
 */

.logoYoutube{
	height: 10%;
} 
.logoYoutube img{
	max-width: 150px;
	min-width: 100px;
	margin:auto;
}
.youtube {
	background: none repeat scroll 0 0 #000;
	height: 70%;
	top: 0;
	z-index: 9999;
}
.youtubeClose {
	height: 10%;
}
.youtubeClose .cerrarBoton {
	color: #fff;
	cursor: pointer;
	height: 46px;
	position: absolute;
	right: 0;
	top: 100%;
	width: 45px;
	z-index: 99999;
}
.youtubeExplorar{
	height: 10%;
}
.youtubeExplorar .explorarSitioBoton {
	background: none repeat scroll 0 0 red;
	border: 0 none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	height: 30px;
	line-height: 32px;
	margin: auto;
	text-align: center;
	text-transform: uppercase;
	width: 170px;
	z-index: 99;
}
/* Seccion de Youtube */

/*
 * Seccion del Logo 
 */
.logo {
    background: none repeat scroll 0 0 transparent;
    height: 100px;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.logo-container {
    margin: auto;
    max-width: 150px !important;
}
.logo span {
	color: #fff;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	width: 100%;
	display: inline-block;
}
/* End Seccion del Logo */


/*
 * Seccion de Trailer y Explorar
 */
.greenBg {
	background-image: url('images/bg/verde.jpg');
	background-repeat: repeat;
	background-position: center;
}
.containerDefault {
	width: 100%;
	height: 100%;
	display: block;
	background: #333;
	position: fixed;
}
.containerDefault .trailer {
	background: #000;
    height: 50%;
    opacity: 1;
    width: 100%;
}

.containerDefault .trailer > div {
    background: none repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.containerDefault .trailer-container {
    height: 50px;
    left: 50%;
    position: absolute;
    top: 25%;
    width: 100%;
}
video {
    height: 100%;
    margin-left: -25%;
    width: 150%;
    display: block;
}
.containerDefault .trailer .buttonTrailer {
    left: -75px;
    position: relative;
    top: -40px;
    width: 150px;
}
.containerDefault .trailer .buttonTrailer img {
	margin: auto;
}
.containerDefault .explorar {
	background-image: url("images/bg/verde.jpg");
	background-position: center center;
	background-repeat: repeat;
	float: left;
	height: 50%;
	width: 100%;
	opacity: 1;
	cursor: pointer;
}
.containerDefault .explorar:hover {
	opacity: 1;
}
.containerDefault .explorar-container {
	top: 50%;
	height: 50px;
	left: 50%;
	position: relative;
	width: 100%;
}
.containerDefault .explorar .buttonExplorar {
    left: -75px;
    position: relative;
    top: -40px;
    width: 150px;
}
.containerDefault .explorar .buttonExplorar img {
	margin: auto;
}
/* End Seccion de Trailer y Explorar */

/* Parte para los mediaqueries */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

/*
 * Seccion Logo
 */
.logo {
    background: none repeat scroll 0 0 transparent;
    height: 100px;
    left: 50%;
    top: 5px;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    z-index: 10;
    height: 100px;
	width: 200px!important;
}
.logo-container {
    margin: auto;
    left: -100px;
	position: relative;
	max-width: 200px!important;
}

/* End Logo */ 

/*
 * Seccion de Contenedor de Youtube
 */
.container-fluid.fullscreen {
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	top: 0;
	z-index: 99;
	background:#000;
}
.logoYoutube{
	height: 10%;
} 
.logoYoutube img{
	max-width: 300px;
	min-width: 200px;
}
.youtube {
	height: 70%;
}
.youtubeClose {
	height: 10%;
}
.youtubeExplorar{
	height: 10%;
}
/* End Seccion de Contenedor de Youtube */

/*
 * Seccion de Trailer y Explorar
 */
.containerDefault .trailer {
	background:#000;
    float: left;
    height: 50%;
    width: 100%;
    opacity: 1;
}

.containerDefault .trailer > div {
    background: none repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.containerDefault .trailer-container {
    height: 50px;
    left: 50%;
    position: absolute;
    top: 25%;
    width: 100%;
}
.containerDefault .trailer .buttonTrailer {
    left: -125px;
    position: relative;
    top: -50px;
    width: 250px;
}
.containerDefault .trailer .buttonTrailer img {
	margin: auto;
}
video {
    height: 100%;
    margin-left: -25%;
    width: 150%;
    display: block;
}
.containerDefault .explorar {
	background-image: url("images/bg/verde.jpg");
	background-position: center center;
	background-repeat: repeat;
	float: left;
	height: 50%;
	width: 100%;
	cursor: pointer;
	opacity: 1;
}
.containerDefault .explorar:hover {
	opacity: 1;
}
.containerDefault .explorar-container {
	top: 50%;
	height: 50px;
	left: 50%;
	position: relative;
	width: 100%;
}
.containerDefault .explorar .buttonExplorar {
    left: -125px;
    position: relative;
    top: -70px;
    width: 250px;
}
.containerDefault .explorar .buttonExplorar img {
	margin: auto;
}
/* End Seccion de Trailer y Explorar */

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

/*
 * Seccion Logo
 */
.logo {
	height: 100px;
	width: 300px!important;
}
.logo-container {
	left: -150px;
	position: relative;
	max-width: 300px!important;
} 
/* End Logo */ 

/*
 * Seccion de Contenedor de Youtube
 */
.container-fluid.fullscreen {
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	top: 0;
	z-index: 99;
	background:#000;
}
.logoYoutube{
	height: 15%;
} 
.logoYoutube img{
	max-width: 300px;
	min-width: 200px;
}
.youtube {
	height: 70%;
}
.youtubeClose {
	height: 15%;
}
.youtubeExplorar{
	height: 15%;
}
/* End Seccion de Contenedor de Youtube */

/*
 * Seccion de Trailer y Explorar
 */
.containerDefault .trailer {
    float: left;
    height: 100%;
    opacity: 0.5;
    width: 50%;
}

.containerDefault .trailer > div {
    background: none repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.containerDefault .trailer-container {
    height: 50px;
    left: 25%;
    position: absolute;
    width: 100%;
    top: 50%;
}
.containerDefault .trailer .buttonTrailer {
    left: -150px;
    position: relative;
    top: -70px;
    width: 300px;
}
.containerDefault .trailer .buttonTrailer img {
	margin: auto;
}
video {
    height: 100%;
    margin-left: -25%;
    width: 150%;
    display: none;
}
.containerDefault .explorar {
	background-image: url("images/bg/verde.jpg");
	background-position: center center;
	background-repeat: repeat;
	float: left;
	height: 100%;
	width: 50%;
	opacity: 0.3;
	cursor: pointer;
}
.containerDefault .explorar:hover {
	opacity: 1;
}
.containerDefault .explorar-container {
	top: 50%;
	height: 50px;
	left: 50%;
	position: relative;
	width: 100%;
}
.containerDefault .explorar .buttonExplorar {
    left: -150px;
    position: relative;
    top: -70px;
    width: 300px;
}
.containerDefault .explorar .buttonExplorar img {
	margin: auto;
}
/* End Seccion de Trailer y Explorar */

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

/*
 * Seccion Logo
 */
.logo {
	height: 100px;
	width: 300px!important;
}
.logo-container {
	left: -150px;
	position: relative;
	max-width: 300px!important;
} 
/* End Logo */ 

/*
 * Seccion de Contenedor de Youtube
 */
.container-fluid.fullscreen {
	position: fixed;
	width: 100%;
	height: 100%;
	display: none;
	top: 0;
	z-index: 99;
	background:#000;
}
.logoYoutube{
	height: 15%;
} 
.logoYoutube img{
	max-width: 300px;
	min-width: 200px;
}
.youtube {
	height: 70%;
}
.youtubeClose {
	height: 15%;
}
.youtubeExplorar{
	height: 15%;
}
/* End Seccion de Contenedor de Youtube */

/*
 * Seccion de Trailer y Explorar
 */
.containerDefault .trailer {
	background-image: url(images/bg/trailer.jpg);
	width: 50%;
	height: 100%;
	float: left;
	opacity: 0.5;
}

.containerDefault .trailer > div {
    background: none repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.containerDefault .trailer-container {
    height: 50px;
    left: 25%;
    position: absolute;
    width: 100%;
    top: 50%;
}
.containerDefault .trailer .buttonTrailer {
    left: -150px;
    position: relative;
    top: -70px;
    width: 300px;
}
.containerDefault .trailer .buttonTrailer img {
	margin: auto;
}
video {
    height: 100%;
    margin-left: -25%;
    width: 150%;
    display: none;
}
.containerDefault .explorar {
	background-image: url("images/bg/verde.jpg");
	background-position: center center;
	background-repeat: repeat;
	float: left;
	height: 100%;
	width: 50%;
	opacity: 0.3;
	cursor: pointer;
}
.containerDefault .explorar:hover {
	opacity: 1;
}
.containerDefault .explorar-container {
	top: 50%;
	height: 50px;
	left: 50%;
	position: relative;
	width: 100%;
}
.containerDefault .explorar .buttonExplorar {
    left: -150px;
    position: relative;
    top: -70px;
    width: 300px;
}
.containerDefault .explorar .buttonExplorar img {
	margin: auto;
}
/* End Seccion de Trailer y Explorar */

}