/*
 * Hoja de estilo para la página principal index.html
 */

/* Se creó un css para la página principal para evitar cargar más estilos de los que se utiliza y mejorar el performance de la página */ 
/* El estilo por default es para un dispositivo móvil así que los mediaqueries sirven para darle formato a los dispositivos mas grandes tales como tabletas y computadoras de escritorio */

/*
 * HTML y Body
 */

html, body {
    line-height: 1;
    height: 100%;
    position: relative;
}

body {
    background-repeat: no-repeat;
    color: #fff;
    margin: 0;
    padding: 0;
    font-family: 'bigotesmedium';
}
.greenBg{
    background-image: url("images/bg/verde.jpg");
    background-position: center center;
    background-repeat: repeat;
}
/*
 * Seccion del Logo 
 */
.logo {
    background: none repeat scroll 0 0 transparent;
    height: 100px;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.logo-container {
    margin: auto;
    max-width: 150px !important;
}
.logo span {
	color: #fff;
	text-align: center;
	line-height: 50px;
	font-size: 20px;
	width: 100%;
	display: inline-block;
}
/* End Seccion del Logo */

/*
 * Seccion Formulario
 */
.enviarFormulario {
    margin-top: 90px;
}
#enviarFormulario table {
    color: #fff;
    width: 100%;
}
.titulo {
    display: block;
    font-family: "bigotesbold" !important;
    font-size: 2em;
    font-weight: 900;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 1px -1px #000;
    text-transform: uppercase;
    width: 100%;
}
.preguntas {
    display: block;
    font-family: "bigotesdemibold";
    font-size: 1.5em;
    font-weight: lighter;
    margin-bottom: 15px;
    text-align: center;
    text-shadow: 1px -1px #000;
    width: 100%;
}
.alinearCentro {
  text-align: center;
  width: 33.3333%;
}
.grupoUno, .grupoDos, .grupoTres {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #002601;
    border-radius: 5px;
    color: #002601;
    font-size: 1em;
    font-weight: lighter;
    height: 30px;
    margin-bottom: 15px;
    width: 100%;
}
.width25 {
    padding: 0 2px;
    width: 25%;
}
.width50{
    width: 50%;
}
.grupoUno.selected, .grupoDos.selected, .grupoTres.selected {
  background: none repeat scroll 0 0 #09481c;
  color: #fff;
}
.botonEntrar {
    background: none repeat scroll 0 0 red;
    border: 0 none;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    height: 30px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
/* End Seccion Formulario */

/*
 * Omitir boton
 */
.row.omitir {
    bottom: 10px;
    position: fixed;
    text-align: right;
    width: 90%;
}
.omitir-container a {
    color: #fff;
    font-size: 0.8em;
    font-weight: lighter;
    text-decoration: none;
    text-shadow: 1px -1px #000;
}

.omitir-container a:hover, .omitir-container a:focus, .omitir-container a:active {
  color: #fff;
  text-decoration: none;
}
/* End Omitir boton */

/*
 * Font Style
 */

@font-face {
  font-family: 'bigotesbold';
    src: url('font/webfont/Bigotes-Bold-webfont.eot');
    src: url('font/webfont/Bigotes-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/webfont/Bigotes-Bold-webfont.woff2') format('woff2'),
         url('font/webfont/Bigotes-Bold-webfont.woff') format('woff'),
         url('font/webfont/Bigotes-Bold-webfont.ttf') format('truetype'),
         url('font/webfont/Bigotes-Bold-webfont.svg#bigotesbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'bigotesdemibold';
    src: url('font/webfont/Bigotes-DemiBold-webfont.eot');
    src: url('font/webfont/Bigotes-DemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/webfont/Bigotes-DemiBold-webfont.woff2') format('woff2'),
         url('font/webfont/Bigotes-DemiBold-webfont.woff') format('woff'),
         url('font/webfont/Bigotes-DemiBold-webfont.ttf') format('truetype'),
         url('font/webfont/Bigotes-DemiBold-webfont.svg#bigotesdemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'bigotesheavy';
    src: url('font/webfont/Bigotes-Heavy-webfont.eot');
    src: url('font/webfont/Bigotes-Heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/webfont/Bigotes-Heavy-webfont.woff2') format('woff2'),
         url('font/webfont/Bigotes-Heavy-webfont.woff') format('woff'),
         url('font/webfont/Bigotes-Heavy-webfont.ttf') format('truetype'),
         url('font/webfont/Bigotes-Heavy-webfont.svg#bigotesheavy') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'bigotesmedium';
    src: url('font/webfont/Bigotes-Medium-webfont.eot');
    src: url('font/webfont/Bigotes-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/webfont/Bigotes-Medium-webfont.woff2') format('woff2'),
         url('font/webfont/Bigotes-Medium-webfont.woff') format('woff'),
         url('font/webfont/Bigotes-Medium-webfont.ttf') format('truetype'),
         url('font/webfont/Bigotes-Medium-webfont.svg#bigotesmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'bigotes_corsivaitalic';
    src: url('font/webfont-curs/BigotesCorsiva-Italic-webfont.eot');
    src: url('font/webfont-curs/BigotesCorsiva-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/webfont-curs/BigotesCorsiva-Italic-webfont.woff2') format('woff2'),
         url('font/webfont-curs/BigotesCorsiva-Italic-webfont.woff') format('woff'),
         url('font/webfont-curs/BigotesCorsiva-Italic-webfont.ttf') format('truetype'),
         url('font/webfont-curs/BigotesCorsiva-Italic-webfont.svg#bigotes_corsivaitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* End Font Styles */

/* Parte para los mediaqueries */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 

.width25 {
    padding: 0 20px;
    width: 25%;
}
.width33 {
    padding: 0 20px;
    text-align: center;
    width: 33.333% !important;
}
.grupoUno.smallerButton, .grupoDos.smallerButton, .grupoTres.smallerButton {
    max-width: 100px;
}
.botonEntrar{
    max-width: 150px;
}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 

.width33 {
    padding: 0 20px;
    text-align: center;
    width: 33.333% !important;
}
.grupoUno.smallerButton, .grupoDos.smallerButton, .grupoTres.smallerButton {
    max-width: 100px;
}
.botonEntrar{
    max-width: 150px;
}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

.width33 {
    padding: 0 20px;
    text-align: center;
    width: 33.333% !important;
}
.grupoUno.smallerButton, .grupoDos.smallerButton, .grupoTres.smallerButton {
    max-width: 100px;
}
.botonEntrar{
    max-width: 150px;
}

}