/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

/*
 * Seccion Logo
 */
.logo {
    background: none repeat scroll 0 0 transparent;
    height: 100px;
    left: 50%;
    top: 5px;
    margin: 0 auto;
    position: fixed;
    width: 100%;
    z-index: 10;
    width: 200px !important
    }

.logo-container {
    margin: auto;
    left: -100px;
    position: relative;
    max-width: 200px !important
    }

/* End Logo */
/*
 * Seccion de Contenedor de Youtube
 */
.container-fluid.fullscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
    z-index: 99;
    background: #000
    }

.logoYoutube {
    height: 10%
    }

.logoYoutube img {
    max-width: 300px;
    min-width: 200px
    }

.youtube {
    height: 70%
    }

.youtubeClose {
    height: 10%
    }

.youtubeExplorar {
    height: 10%
    }

/* End Seccion de Contenedor de Youtube */
/*
 * Seccion de Trailer y Explorar
 */
.containerDefault .trailer {
    background: #000;
    float: left;
    height: 50%;
    width: 100%;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1
    }

.containerDefault .trailer > div {
    background: none repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 100%;
    overflow: hidden;
    width: 100%
    }

.containerDefault .trailer-container {
    height: 50px;
    left: 50%;
    position: absolute;
    top: 25%;
    width: 100%
    }

.containerDefault .trailer .buttonTrailer {
    left: -125px;
    position: relative;
    top: -50px;
    width: 250px
    }

.containerDefault .trailer .buttonTrailer img {
    margin: auto
    }

video {
    height: 100%;
    width: 100%;
    display: block
    }

.containerDefault .explorar {
    background-image: url(../images/bg/verde.jpg);
    background-position: center center;
    background-repeat: repeat;
    float: left;
    height: 50%;
    width: 100%;
    cursor: pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -moz-box-shadow: inset 0 0 250px #011d0b;
    -webkit-box-shadow: inset 0 0 250px #011d0b;
    box-shadow: inset 0 0 250px #011d0b;
    }

.containerDefault .explorar:hover {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1
    }

.containerDefault .explorar-container {
    top: 50%;
    height: 50px;
    left: 50%;
    position: relative;
    width: 100%
    }

.containerDefault .explorar .buttonExplorar {
    left: -125px;
    position: relative;
    top: -70px;
    width: 250px
    }

.containerDefault .explorar .buttonExplorar img {
    margin: auto
    }

/* End Seccion de Trailer y Explorar */

}